{% extends 'base-profile.html.twig' %}

{% block title %}Générer une facture{% endblock %}

{% block body %}


{% set months = [
    "Janvier",
    "Février",
    "Mars",
    "Avril",
    "Mai",
    "Juin",
    "Juillet",
    "Aout",
    "Septembre",
    "Octobre",
    "Novembre",
    "Décembre",
] %}

  <h1 class="text-light fst-italic text-center mt-5"> Voici les bons de commande pour le mois de {{months[monthIndex -1]}} </h1>

<div class="row col-md-8 mx-auto p-5">

  <div class="row col-md-8 mx-auto p-5">

    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Sélectionner un mois
        </button>
        <ul class="dropdown-menu">
            <li class="dropdown-item"><a href="{{path('app_contracts_admin', {month : 1, year : 'now'|date('Y') })}}"> Janvier </a> </li>
            <li class="dropdown-item"><a href="{{path('app_contracts_admin', {month : 2, year : 'now'|date('Y') })}}"> Février </a> </li>
            <li class="dropdown-item"><a href="{{path('app_contracts_admin', {month : 3, year : 'now'|date('Y') })}}"> Mars </a> </li>
            <li class="dropdown-item"><a href="{{path('app_contracts_admin', {month : 4, year : 'now'|date('Y') })}}"> Avril </a> </li>
            <li class="dropdown-item"><a href="{{path('app_contracts_admin', {month : 5, year : 'now'|date('Y') })}}"> Mai </a> </li>
            <li class="dropdown-item"><a href="{{path('app_contracts_admin', {month : 6, year : 'now'|date('Y') })}}"> Juin </a> </li>
            <li class="dropdown-item"><a href="{{path('app_contracts_admin', {month : 7, year : 'now'|date('Y') })}}"> Juillet </a> </li>
            <li class="dropdown-item"><a href="{{path('app_contracts_admin', {month : 8, year : 'now'|date('Y') })}}"> Aout </a> </li>
            <li class="dropdown-item"><a href="{{path('app_contracts_admin', {month : 9, year : 'now'|date('Y') })}}"> Septembre </a> </li>
            <li class="dropdown-item"><a href="{{path('app_contracts_admin', {month : 10, year : 'now'|date('Y') })}}"> Octobre </a> </li>
            <li class="dropdown-item"><a href="{{path('app_contracts_admin', {month : 11, year : 'now'|date('Y') })}}"> Novembre </a> </li>
            <li class="dropdown-item"><a href="{{path('app_contracts_admin', {month : 12, year : 'now'|date('Y') })}}"> Décembre </a> </li>
        </ul>
    </div>
   
</div>

  <table class="table bg-color-none">
    <thead>
      <tr>
        <th class="text-light bg-color-none" scope="col">Numéro de Contrat</th>
        <th class="text-light bg-color-none" scope="col">Bon de commande</th>
        <th class="text-light bg-color-none" scope="col">Formateur</th>
        <th class="text-light bg-color-none" scope="col">Mois</th>
        <th class="text-light bg-color-none" scope="col">Télécharger</th>
        <th class="text-light bg-color-none" scope="col">Status</th>
        <th class="text-light bg-color-none" scope="col">Total</th>
      </tr>
    </thead>
    <tbody>
      {% for invoice in invoices %}
          <tr>
              <th class="text-light bg-color-none" scope="row">C{{year}}{{monthIndex}}/{{invoice["id"]}}</th>
              <th class="text-light bg-color-none" scope="row">B{{year}}{{monthIndex}}/{{invoice["id"]}}</th>
              <th class="text-light bg-color-none" scope="row">{{months[monthIndex -1]}}</th>
              <th class="text-light bg-color-none" scope="row">{{invoice["name"]}}</th>
              <td class="text-light bg-color-none">
              <a class="btn btn-info text-light" target="_blank" href="{{ path('app_contracts_admin_download', {year : year, month : monthIndex, teacherId : invoice["id"]})}}"> Télécharger </a></td>
              <td class="bg-color-none"> 
                <div class="d-flex align-items-center form-check form-switch bg-none">
                  <form action="" method="post">
                    <input type="hidden" name="month" class="month" value="{{ monthIndex }}" />
                    <input type="hidden" name="teacherId" class="teacherId" value="{{ invoice["id"] }}" />
                    <div class="form-check form-switch">
                      <input class="form-check-input updateTeacherPaid {{ (invoice["teacherPaid"] is not null and invoice["teacherPaid"] == true) ? 'checked' : '' }}" {{ (invoice["teacherPaid"] is not null and invoice["teacherPaid"] == true) ? 'checked' : '' }} name="paid" type="checkbox" > 
                    </div>
                </div>
                  </form>
              </td>
              <th class="text-light bg-color-none" scope="row">{{invoice["sum"]}}€</th>
          </tr> 

      {% endfor %}
          <tr style="border:none">
            <th class="text-light bg-color-none" style="text-align:right;border:none" colspan="7" scope="row">{{totalAmount}}€</th>
          </tr> 
    </tbody>
  </table>
</div>

{% endblock %}
