<!DOCTYPE html>
<html>
	<title>{{company_name}}
	</title>
	<style>

		.row {
			--bs-gutter-x: 1.5rem;
			--bs-gutter-y: 0;
			float: left;
			flex-wrap: wrap;
			margin-left: calc(var(--bs-gutter-x)*-.5);
			margin-right: calc(var(--bs-gutter-x)*-.5);
			margin-top: calc(var(--bs-gutter-y)*-1)
		}

		.left {
			float: left;
		}

		.right {
			float: right;
		}

		.clear {
			clear: both;
		}

		.fw400 {
			font-weight: 400;
		}

		.flex-column {
			flex-direction: column;
		}

		.m-0 {
			margin: 0;
		}

		.mt-5 {
			margin-top: 3rem;
		}

		.mt-3 {
			margin-top: 1rem;
		}

		.font-weight-bold {
			font-weight: bold;
		}

		.justify-content-between {
			justify-content: space-between;
		}

		.bg-info {
			background-color: #6a8bff;
		}

		table {
			border-collapse: collapse;
			caption-side: bottom;
			width: 100%;
		}

		.col-md-5 {
			flex: 0 0 auto;
			width: 41.66666667%;
		}

		.col-md-3 {
			flex: 0 0 auto;
			width: 25%;
		}

		.text-center {
			text-align: center;
		}

		td:nth-of {
			text-align: center;
		}

		td {
			text-align: center;
		}

		.left-td {
			text-align: left;
		}

		thead tr th {
			padding: 0.5rem;
		}

		tbody td {
			padding: 0.2rem 0.5rem;
		}

		tbody {
			margin-bottom: 0.5rem;
		}
	</style>
	<body>
		<section class="flex-column">

			<div class="row flex-column">

				<p class="m-0 font-weight-bold">
					{{company_name}}
				</p>
				<p class="m-0 fw400">
					{{company_address}}
				</p>
				<p class="m-0 fw400">
					{{ville_siege}}
				</p>
				<p class="m-0 fw400">
					{{phone_number}}
				</p>
				<p class="m-0 fw400">
					{{mail_address}}
				</p>

			</div>

			<div class="row justify-content-between mt-3">

				<div class="left flex-column">
					<p class="m-0 font-weight-bold" style="font-size:30px">
						Facture
						{{devisNumber}}
					</p>
					<p class="m-0 fw400">
						Date d'émission :
						{{devisDate}}
					</p>
					<p class="m-0 fw400">
						Date d'échéance :
						{{devisDateEcheance}}
					</p>
					<p class="m-0 fw400">
						Date limite de règlement : Exigible sous 30 jours
					</p>
					<p class="m-0 fw400">
						{% if orderNumber is not null and orderNumber is defined %}
							Numéro de Commande :
							{{orderNumber}}
						{% endif %}
					</p>
				</div>

				<div class="right flex-column">
					{% if client.accountServiceName is not null and client.accountServiceName is defined %}
						<p class="m-0 fw400 font-weight-bold">
							{{client.accountServiceName}}
						</p>
					{% endif %}
					<p class="m-0 fw400 font-weight-bold">
						{{client.name}}
					</p>
					{% if client.commercialName is not null and client.commercialName is defined %}
						<p class="m-0 fw400 font-weight-bold">
							{{client.commercialName}}
						</p>
					{% endif %}
					<p class="m-0 fw400">
						{{client.address}}
					</p>
					<p class="m-0 fw400">
						{{client.postalCode}}
						{{client.city}}
						France
					</p>
					{% if client.siret is not null and client.siret is defined %}
						<p class="m-0 fw400">
							SIRET :
							{{client.siret}}</p>
					{% endif %}
					{% if client.missionAddress is not null and client.missionAddress is defined %}
						<br>
						<p class="m-0 fw400">
							<b>Lieu de réalisation :</b><br>
							{{client.missionClient}}
							<br>
							{{client.missionAddress}}
							<br>
							{{client.missionPostalCode}}
							{{client.missionCity}}</p>
					{% endif %}
				</div>

			</div>

			<div class="clear"></div>

			<h4 class="mt-3">
				Prestations de formation
			</h4>

			<div class="row mt-3">

				<table class="table" border="1">
					<thead>
						<tr class="bg-info">
							<th scope="col" class="left-td">Prestation</th>
							<th scope="col">Quantité</th>
							<th scope="col">P.U HT</th>
							<th scope="col">TVA</th>
							<th scope="col">Montant HT</th>
						</tr>
					</thead>
					<tbody>

						{% for mission in missions %}
							{# toutes les users #}

							{% for innerMission in mission %}
								{# les missions regroupé en cours et étudiant #}
								<tr>
									<td
										scope="row" class="left-td">
										{# <p class="m-0 font-weight-bold">{{missions[0]}}</p> #}
										<p class="m-0 font-weight-bold">{{innerMission|first.user.firstName}}
											{{innerMission|first.user.lastName}}</p>

										{% set totalHours = 0 %}
										{% set totalRemuneration = 0 %}

										{% for data in innerMission %}
											{# les prestations #}
											{% if loop.index == 1 %}
												<p class="m-0 fw400">{{data.course}}
												</p>
												<p class="m-0 fw400">
													{{data.student.student}}
												</p>
												<br>
											{% endif %}

											{% set totalHours = totalHours + data.hours %}
											{% set totalRemuneration = totalRemuneration + (data.student.hourlyPrice * data.hours) %}
											<p class="m-0 fw400">{{data.beginAt|date('d-m-Y')}}
												-
												{{data.scheduleTime}}
											</p>
										{% endfor %}
										<br>
										<p class="m-0 fw400">Tarif
											{{innerMission|first.student.hourlyPrice|round(2)}}€/h</p>
										<p class="m-0 fw400">{{innerMission|first.description}}</p>
									</td>
									<td class="font-weight-bold">
										{{totalHours}}
									</td>
									<td class="font-weight-bold">
										{{innerMission|first.student.hourlyPrice|round(2)}}€/h
									</td>
									<td class="font-weight-bold">
										HT
									</td>
									<td class="font-weight-bold">
										{{totalRemuneration|round(2)}}€
									</td>
								</tr>
							{% endfor %}
						{% endfor %}
					</tbody>
				</table>

			</div>

			<div class="row justify-content-between mt-5">

				<div class="left p-0 col-md-5">
					<table class="table" border="1">
						<thead>
							<tr class="bg-info">
								<th scope="col">Base</th>
								<th scope="col">Taux</th>
								<th scope="col">Montant TVA</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="fw400">
									{{totalAmount}}€
								</td>
								<td class="fw400">
									HT
								</td>
								<td class="fw400">
									0,00€
								</td>
							</tr>
						</tbody>
					</table>
					<p class="m-0 font-weight-bold mt-3">
						TVA non applicable, Art. 261.4.4 A du CGI
					</p>
				</div>

				<div class="right p-0 col-md-3">
					<table class="table" border="1">
						<thead class="bg-info">
							<tr>
								<th scope="col">Récapitulatif</th>
								<th scope="col"></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="fw600 left-td">
									Total HT
								</td>
								<td class="fw400">
									{{totalAmount}}€
								</td>
							</tr>
							<tr>
								<td class="fw600 left-td">
									TVA
								</td>
								<td class="fw400">
									0,00€
								</td>
							</tr>
							<tr>
								<td class="fw600 left-td">
									TOTAL TTC
								</td>
								<td class="fw400">
									{{totalAmount}}€
								</td>
							</tr>
							<tr>
								<td class="font-weight-bold left-td">
									Net à payer
								</td>
								<td class="fw400">
									{{totalAmount}}€
								</td>
							</tr>
						</tbody>
					</table>
				</div>

			</div>

			<div class="clear"></div>

			<div class="row flex-column mt-5">
				<p class="m-0 font-weight-bold">Mode de paiement: Virement bancaire
				</p>
				<p class="m-0 font-weight-bold">Banque : {{bank}}
				</p>
				<p class="m-0 font-weight-bold">IBAN : {{iban}}
				</p>
			</div>


			<div class="row flex-column mt-5">

				<p class="text-center m-0">
					Prestation de services | Pénalités en cas de retard : 3 fois le taux légal | Indemnité en cas de retard : 40€ | Aucun escompte en cas de paiement anticipé
				</p>
				<p class="text-center m-0">
					{{company_name}}, SASU immatriculée sous le SIREN {{siren}} | RCS {{siren}}
				</p>
				<p class="text-center m-0">
					N°TVA {{num_tva}} | APE {{naf_ape}}
				</p>

			</div>

		</section>

	</body>
</html>