{% extends 'base-profile.html.twig' %}

{% block title %}Mes contrats{% endblock %}

{% block body %}

{% set months = [
    "Janvier",
    "Février",
    "Mars",
    "Avril",
    "Mai",
    "Juin",
    "Juillet",
    "Aout",
    "Septembre",
    "Octobre",
    "Novembre",
    "Décembre",
] %}

  <h1 class="text-light fst-italic text-center mt-5"> Voici vos factures auto-générées pour {{year}} si vous souhaitez un modèle de base à suivre.</h1>
  <p class="text-center text-light mt-5"> Si vous souhaitez générer une facture par exemple pour l'année 2023 pour le mois de décembre, veuillez modifier l'url par profile/generate/invoice/type/2023/12.</p>
  <div class="row col-md-8 mx-auto p-5">

  <div class="row col-md-8 mx-auto p-5">

    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Sélectionner un mois
        </button>
        <ul class="dropdown-menu">
            <li class="dropdown-item"><a href="{{path('app_profile_generate_invoice_type', {year : year, month : 1})}}"> Janvier </a> </li>
            <li class="dropdown-item"><a href="{{path('app_profile_generate_invoice_type', {year : year, month : 2})}}"> Février </a> </li>
            <li class="dropdown-item"><a href="{{path('app_profile_generate_invoice_type', {year : year, month : 3})}}"> Mars </a> </li>
            <li class="dropdown-item"><a href="{{path('app_profile_generate_invoice_type', {year : year, month : 4})}}"> Avril </a> </li>
            <li class="dropdown-item"><a href="{{path('app_profile_generate_invoice_type', {year : year, month : 5})}}"> Mai </a> </li>
            <li class="dropdown-item"><a href="{{path('app_profile_generate_invoice_type', {year : year, month : 6})}}"> Juin </a> </li>
            <li class="dropdown-item"><a href="{{path('app_profile_generate_invoice_type', {year : year, month : 7})}}"> Juillet </a> </li>
            <li class="dropdown-item"><a href="{{path('app_profile_generate_invoice_type', {year : year, month : 8})}}"> Aout </a> </li>
            <li class="dropdown-item"><a href="{{path('app_profile_generate_invoice_type', {year : year, month : 9})}}"> Septembre </a> </li>
            <li class="dropdown-item"><a href="{{path('app_profile_generate_invoice_type', {year : year, month : 10})}}"> Octobre </a> </li>
            <li class="dropdown-item"><a href="{{path('app_profile_generate_invoice_type', {year : year, month : 11})}}"> Novembre </a> </li>
            <li class="dropdown-item"><a href="{{path('app_profile_generate_invoice_type', {year : year, month : 12})}}"> Décembre </a> </li>
        </ul>
    </div>
   
</div>

  <table class="table bg-color-none">
    <thead>
      <tr>
        <th class="text-light bg-color-none" scope="col">Numéro de Facture</th>
        <th class="text-light bg-color-none" scope="col">Numéro de Contrat</th>
        <th class="text-light bg-color-none" scope="col">Clients</th>
        <th class="text-light bg-color-none" scope="col">Mois</th>
        <th class="text-light bg-color-none" scope="col">Télécharger</th>
        <th class="text-light bg-color-none" scope="col">Total</th>
      </tr>
    </thead>
    <tbody>
      {% for invoice in invoices %}
          <tr>
              <th class="text-light bg-color-none" scope="row">F{{year}}{{monthIndex}}_{{invoice["id"]}}_{{invoice["userId"]}}</th>
              <th class="text-light bg-color-none" scope="row">C{{year}}{{monthIndex}}/{{invoice["userId"]}}</th>
              <th class="text-light bg-color-none" scope="row">{{invoice["name"]}}</th>
              <th class="text-light bg-color-none" scope="row">{{months[monthIndex -1]}}</th>
              <td class="text-light bg-color-none"><a class="btn btn-info text-light" target="_blank" href="{{ path('app_generate_invoice_type_pdf', {year : year, month : monthIndex, clientId : invoice["id"]})}}"> Télécharger </a></td>
              <th class="text-light bg-color-none" scope="row">{{invoice["sum"]|round(2)}}€</th>
          </tr> 
      {% endfor %}
          <tr style="border:none">
            <th class="text-light bg-color-none" style="text-align:right;border:none" colspan="7" scope="row">{{totalAmount|round(2)}}€</th>
          </tr> 
    </tbody>
  </table>
</div>

{% endblock %}
