{% extends 'base-profile.html.twig' %}

{% block meta_description %}{% endblock %}

{% block title %}Changer mon mot de passe
	{{parent()}}
{% endblock %}

{% form_theme changePasswordForm 'bootstrap_5_layout.html.twig' %}


{% block body %}

        <section class="p-5">
                <div class="course-mainbar">

                        {% for message in app.flashes('message') %}
                                <div class="row">
                                        <div class="col-md-12 alert alert-success" role="alert">
                                                {{message}}
                                        </div>
                                </div>
                        {% endfor %}

                        <div class="row col-md-12 mx-auto white justify-content-center white smallBorderRadius p-0 mt-5">
                                <div class="form-shadow relative justify-content-center row col-10 col-sm-10 col-md-8">
                                        <div class="form-circle"></div>

                                        {{ form_start(changePasswordForm, {'attr': {'id': 'form-edit-password', "class": "bg-light form-shadow smallBorderRadius row px-5 py-5 justify-content-center"} }) }}
                                        {{ form_row(changePasswordForm.oldPassword) }}
                                        {{ form_row(changePasswordForm.plainPassword) }}
                                        {{ form_row(changePasswordForm.submit) }}
                                        {{ form_end(changePasswordForm) }}

                                </div>
                        </div>
                </div>
        </section>


{% endblock %}
