    <div class="d-flex course-sidebar flex-column justify-content-between">
		<ul class="sidebar-nav p-3">

			<!-- Sidebar Nav -->
			<a aria-label="Accédez aux formations vidéo sur l'Académie WS - Formation WS" href="https://academiews.fr/courses">
				<li class="text-center bg-secondary smallBorderRadius my-3 px-2 py-2 text-light">
                        ACCÉDER AUX FORMATIONS VIDÉO
				</li>
			</a>

            <a aria-label="Accédez aux offres pour vous - Formation WS" href="{{path('app_jobs_for_you')}}">
				<li
					class="d-flex p-3 align-items-center item bg-info text-light text-center smallBorderRadius">
					<div class="d-flex align-items-center justify-content-between w-100 title-container">
						<div class="d-flex align-items-center">
							<span class="lecture-name f600">
								OFFRES SUCCEPTIBLES DE T'INTÉRESSER
							</span>
						</div>
					</div>
				</li>
			</a>

			<a aria-label="Accédez à la modification de votre mot de passe - Formation WS" href="{{path('app_profile_password')}}">
				<li
					class="d-flex p-3 align-items-center item">
					<div class="d-flex align-items-center justify-content-between w-100 title-container">
						<div class="d-flex align-items-center">
							<span class="lecture-name f600">
								Modifier mon mot de passe
							</span>
						</div>
					</div>
				</li>
			</a>

            <a aria-label="Accédez à vos informations personelles - Formation WS" href="{{path('app_profile_infos')}}">
                <li
                    class="d-flex p-3 align-items-center item">
                    <div class="d-flex align-items-center justify-content-between w-100 title-container">
                        <div class="d-flex align-items-center">
                            <span class="lecture-name f600">
                                Mes informations personnelles
                            </span>
                        </div>
                    </div>
                </li>
            </a>

			<a aria-label="Accédez à vos domaines d'intervention - Formation WS" href="{{path('app_profile_skills')}}">
                <li class="d-flex p-3 align-items-center item">
                    <div class="d-flex align-items-center justify-content-between w-100 title-container">
                        <div class="d-flex align-items-center">
                            <span class="lecture-name f600">
                                Mes domaines d'intervention
                            </span>
                        </div>
                    </div>
                </li>
            </a>

            <a aria-label="Accédez à vos contrats - Formation WS" href="{{path('app_profile_contracts')}}">
                <li class="d-flex p-3 align-items-center item">
                    <div class="d-flex align-items-center justify-content-between w-100 title-container">
                        <div class="d-flex align-items-center">
                            <span class="lecture-name f600">
                                Mes contrats
                            </span>
                        </div>
                    </div>
                </li>
            </a>

			<a aria-label="Déconnectez vous de votre profil - Formation WS" href="{{path('app_logout') }}">
				<li	class="d-flex p-3 align-items-center item">
					<div class="d-flex align-items-center justify-content-between w-100 title-container">
						<div class="d-flex align-items-center">
							<span class="lecture-name f600">
								Déconnexion
							</span>
						</div>
					</div>
				</li>
			</a>

		</ul>

		<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1440 320">
			<path fill="#5e24c3" fill-opacity="1" d="M0,224L26.7,208C53.3,192,107,160,160,160C213.3,160,267,192,320,181.3C373.3,171,427,117,480,122.7C533.3,128,587,192,640,202.7C693.3,213,747,171,800,138.7C853.3,107,907,85,960,96C1013.3,107,1067,149,1120,186.7C1173.3,224,1227,256,1280,240C1333.3,224,1387,160,1413,128L1440,96L1440,320L1413.3,320C1386.7,320,1333,320,1280,320C1226.7,320,1173,320,1120,320C1066.7,320,1013,320,960,320C906.7,320,853,320,800,320C746.7,320,693,320,640,320C586.7,320,533,320,480,320C426.7,320,373,320,320,320C266.7,320,213,320,160,320C106.7,320,53,320,27,320L0,320Z"></path>
		</svg>
    </div>