{% extends 'base-dark.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="col-md-8 mx-auto mt-5 py-5">

    <div class="bg-secondary relative row col-10 col-sm-10 col-md-6 mx-auto justify-content-center align-items-center smallBorderRadius p-5 my-5">
        <div class="form-circle"> </div>

        <form method="post" class="text-light">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    Vous êtes connectés en tant que {{ app.user.userIdentifier }}, <a aria-label="Déconnectez vous - {{company_name}}" href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

            <h1 class="h3 mb-3 font-weight-normal">Accéder à son espace perso</h1>

            <label for="inputEmail" class="text-less-grey mb-3">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
            
            <label for="inputPassword" class="text-less-grey mb-3 mt-3">Mot de passe</label>
            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            >

            <button class="btn btn-lg btn-outline-primary mt-3" type="submit">
                Se connecter
            </button>
        </form>

    </div>
</div>
{% endblock %}
