{% extends 'base-dark.html.twig' %}

{% block meta_description %} La société {{company_name}} est spécialisée dans le placement de formateur et de consultant dans le monde du digital. {% endblock %}
{% block title %}Placement de formateurs {{parent()}} {% endblock %}

{% form_theme pro_need 'bootstrap_5_layout.html.twig' %}


{% block body %}

    {# Qui sommes-nous? #}

    {% include 'flash.html.twig' %}
    <section>
        <h1 class="my-5 text-white text-center"> Trouvez le formateur idéal pour une formation réussie ! </h1>

        <div class="row d-flex col-md-10 mx-auto p-2">

            <div class="col-12 col-lg-6 form-shadow" id="container-iframe-home" style="padding:28% 0 0 0;position:relative;">
                <iframe src="https://player.vimeo.com/video/835006242?h=1b1d19f4e7" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="00 - La syntaxe en PHP">
                </iframe>
            </div>

            <div class="d-flex justify-content-center col-12 col-lg-6 mt-5 mt-lg-0 px-lg-5" id="home-form">
                {{ form_start(pro_need, {"attr": {"class": "bg-violet form-shadow h-100 col-md-12 row px-5 py-5 justify-content-center text-light" } }) }}
                    <div class="col-md-12">
                        <h1 class="h3 mb-3 font-weight-normal text-center">Commandez une intervention formateur</h1>
                    </div>
                    {{ form_row(pro_need.profil, {'attr': {'class': 'bg-none text-info'}}) }}
                    {{ form_row(pro_need.date, {'attr': {'class': 'bg-info text-light'}}) }}
                    {{ form_row(pro_need.localisation, {'attr': {'class': 'bg-none'}}) }}
                    {{ form_row(pro_need.theme, {'attr': {'class': 'bg-none text-info'}}) }}
                    {{ form_row(pro_need.captcha) }}
                    {{ form_row(pro_need._token) }}

                    <button type="submit" class="text-light btn btn-lg btn-outline-info mt-4 col-md-6 buttonBorderRadius">Je commande</button>
                {{ form_end(pro_need, {'render_rest': false}) }}
            </div>
            
            <script src="https://player.vimeo.com/api/player.js"></script>

            
            {# 

                Vous êtes un pro de la formation
                Vous êtes un formateur pro

            #}

            <div class="d-flex justify-content-center">
                <a aria-label="Commandez un formateur - {{company_name}}" class="mt-5 font-weight-bold btn btn-secondary text-white mx-3" href="{{path('professionals')}}" role="button">CHERCHEZ UN FORMATEUR</a>
                <a aria-label="Devenir formateur - {{company_name}}" class="mt-5 font-weight-bold btn btn-primary text-white mx-3" href="{{path('teachers')}}" role="button">DEVENIR FORMATEUR</a>
            </div>
        </div>
    </section>

    {# Résumé de qui nous sommes #}

    <section class="section bg-secondary text-center my-5 py-5 form-shadow">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-6 col-lg-3">
                    <div class="row ">
                        <div class="col-5 text-right text-light border-right py-3">
                            <div class="m-auto"><i class="fa-solid fa-magnifying-glass icon-xl"></i></div>
                        </div>
                        <div class="col-7 text-left py-3">
                            <h2 class="text-danger font-weight-bold font40">Sourcing</h2>
                            <p class="text-light mb-1">des profils</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="row">
                        <div class="col-5 text-right text-light border-right py-3">
                            <div class="m-auto"><i class="fa-solid fa-medal icon-xl"></i></div>
                        </div>
                        <div class="col-7 text-left py-3">
                            <h2 class="text-danger font-weight-bold font40">Coaching</h2>
                            <p class="text-light mb-1">pédagogique</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="row">
                        <div class="col-5 text-right text-light border-right py-3">
                            <div class="m-auto"><i class="fa-solid fa-check icon-xl"></i></div>
                        </div>
                        <div class="col-7 text-left py-3">
                            <h2 class="text-danger font-weight-bold font40">Validation</h2>
                            <p class="text-light mb-1">technique</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="row">
                        <div class="col-5 text-right text-light border-right py-3">
                            <div class="m-auto"><i class="fa-solid fa-thumbs-up icon-xl"></i></div>
                        </div>
                        <div class="col-7 text-left py-3">
                            <h2 class="text-danger font-weight-bold font40">Formation</h2>
                            <p class="text-light mb-1">garantie</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    {# Nos services #}

    <section>

        <div class="row justify-content-center flex-column align-items-center backGroundColorGrey mt-5 mb-5">
            <div class="d-flex flex-column align-items-center justify-content-center pt-5">
                <h2 class="text-light text-center mb-5"> La société {{company_name}} est spécialisée dans le placement de formateur ! </h2>
                <p class="text-light text-center col-md-8">Notre mission est d'aider les professionnels de la formation à trouver le bon formateur pour permettre à leurs apprenants de développer leurs compétences techniques, en <span class="text-primary fw600"> programmation </span>, en <span class="text-primary fw600"> marketing online </span> et bien d'autres sujets pour qu'ils puissent intégrer des projets innovants, lucratifs et potentiellement changer leur vie pour le meilleur !</p>
            </div>

            <ul class="row col-md-8 pt-3">
                <li class="col-6 col-md-3 d-flex flex-column align-items-center p-3">
                    <span class="addedValue" style="color:#1e8bff">10</span>
                    <p class="text-light">Années d'expérience</p>
                </li>
                <li class="col-6 col-md-3 d-flex flex-column align-items-center p-3">
                    <span class="addedValue" style="color:#6955ff">+30</span>
                    <p class="text-light">Formateurs expérimentés</p>
                </li>
                <li class="col-6 col-md-3 d-flex flex-column align-items-center p-3">
                    <span class="addedValue" style="color:#a83af5">+10m</span>
                    <p class="text-light">Apprenants par an</p>
                </li>
                <li class="col-6 col-md-3 d-flex flex-column align-items-center p-3">
                    <span class="addedValue" style="color:#c03ada">+20</span>
                    <p class="text-light">Clients qui nous font confiance</p>
                </li>
            </ul>

            <div class="d-flex justify-content-center mb-5">
                <a aria-label="Commandez un formateur - {{company_name}}" class="mt-5 font-weight-bold btn btn-outline-secondary text-white mx-3" href="{{path('professionals')}}" role="button">CHERCHEZ UN FORMATEUR</a>
                <a aria-label="Devenir formateur - {{company_name}}" class="mt-5 font-weight-bold btn btn-outline-primary text-white mx-3" href="{{path('app_jobs')}}" role="button">NOS OFFRES ACTUELLES</a>
            </div>

        </div>

    </section>


    {# Nos NOS SPÉCIALITÉS ET POTENTIEL DOMAINES D'INTERVENTIONS #}

    <section class="bg-secondary-dark justify-content-center align-items-center flex-column categories relative pb-5">


        <div class="text-with-gradient text-center py-5 relative">
            &lt; NOS DOMAINES D'INTERVENTIONS /&gt; 
        </div>

        <div class="row mx-auto col-md-10 p-3">

            {% for theme in themes %}
                <div class="col-md-3 p-3">
                    <div class="card form-shadow bg-none">
                        <a aria-label="{{theme.title}} - {{company_name}}" href="{{path('app_themes_details', {id:theme.id})}}">
                            <img class="card-img-top smallBorderRadius" src="{{ asset('build/themes/'~ theme.picture)}}" alt="{{theme.title}}" title="{{theme.title}}">
                        </a>
                        
                        <div class="card-body">
                            <a aria-label="{{theme.title}} - {{company_name}}" href="{{path('app_themes_details', {id:theme.id})}}">
                                <h5 class="card-title fw-bold text-light">{{theme.title}}</h5>
                                <p class="card-text mb-3 text-info">{{theme.description}}</p>
                            </a>
                        </div>
                    </div>
                
                </div>
            {% endfor %}

            <div class="d-flex justify-content-center">
                <a aria-label="Nos domaines d'intervention - {{company_name}}" class="font-weight-bold btn btn-outline-secondary text-white mx-3" href="{{path('app_themes')}}" role="button">+ THÉMATIQUES</a>
                <a aria-label="Notre offres de mission - {{company_name}}" class="font-weight-bold btn btn-outline-primary text-white mx-3" href="{{path('app_jobs')}}" role="button">NOS OFFRES</a>
            </div>
        </div>

    </section>


    {# 
    
    NOTRE JOB
    Recrutement > Coaching > Planification #}

    <section class="section bg-secondary text-center py-5 form-shadow">
        <div class="container">
            <div class="row text-center justify-content-center">
                <div class="col-md-6 col-lg-4">
                    <div class="row ">
                        <div class="col-5 text-right text-light border-right py-3">
                            <div class="m-auto"><i class="fa-solid fa-1 icon-xl"></i></div>
                        </div>
                        <div class="col-7 text-left py-3">
                            <h2 class="text-danger font-weight-bold font40">Recrutement</h2>
                            <p class="text-light mb-1">Des meilleurs formateurs</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="row">
                        <div class="col-5 text-right text-light border-right py-3">
                            <div class="m-auto"><i class="fa-solid fa-2 icon-xl"></i></div>
                        </div>
                        <div class="col-7 text-left py-3">
                            <h2 class="text-danger font-weight-bold font40">Coaching</h2>
                            <p class="text-light mb-1">Montées en compétences</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="row">
                        <div class="col-5 text-right text-light border-right py-3">
                            <div class="m-auto"><i class="fa-solid fa-3 icon-xl"></i></div>
                        </div>
                        <div class="col-7 text-left py-3">
                            <h2 class="text-danger font-weight-bold font40">Plannification</h2>
                            <p class="text-light mb-1">Selon vos besoins</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    

    {#  Retours de nos apprenants#}

    <section class="row mx-auto flex-column justify-content-center align-items-center py-5">

        <div class="text-with-gradient text-center pB-5 relative">
            &lt; ECOLES ET ORGANISMES DE FORMATION /&gt; 
        </div>
        
        <h2 class="text-center text-light"> Ce que vos étudiants pensent de notre travail </h2>

        <div>
            <p class="text-light text-center my-3">
                EXCELLENT
                <i class="text-primary fa-solid fa-star"></i>
                <i class="text-primary fa-solid fa-star"></i>
                <i class="text-primary fa-solid fa-star"></i>
                <i class="text-primary fa-solid fa-star"></i>
                <i class="text-primary fa-solid fa-star"></i>

                4.9 sur 5 basé sur <a aria-label="Retrouvez nos avis Google - {{company_name}}" class="text-info" href="https://www.google.com/search?q=academie+ws&oq=academie+w&aqs=chrome.0.35i39i650j46i175i199i512j69i57j69i59j46i175i199i512j69i60l3.1534j0j7&sourceid=chrome&ie=UTF-8#lrd=0x47e66ffa2afcfa71:0xbdeea1c321822bb9,1,,,,"> +75 avis</a>

            <p>
        </div>

        <div class="row mx-auto col-md-10 p-3">

            <div class="col-md-3 p-3">
                    <div class="card form-shadow bg-secondary-dark p-3 smallBorderRadius">

                        <div class="d-flex justify-content-between">
                            <p>
                                <span>  
                                    <i style="font-size:0.5rem" class="text-primary fa-solid fa-star"></i>
                                    <i style="font-size:0.5rem" class="text-primary fa-solid fa-star"></i>
                                    <i style="font-size:0.5rem" class="text-primary fa-solid fa-star"></i>
                                    <i style="font-size:0.5rem" class="text-primary fa-solid fa-star"></i>
                                    <i style="font-size:0.5rem" class="text-primary fa-solid fa-star"></i>
                                </span>
                            </p>

                            <i class="text-primary fa-brands fa-google"></i>

                        </div>

                        
                        <div class="card-body p-0">
                            <h5 class="card-title fw-bold text-light">Développeur web mobile</h5>
                            <p class="card-text mb-3 text-info">Formateurs de qualité, bonne pédagogie qui m'a permis de devenir développeur web. Merci !</p>
                            <div class="d-flex align-items-center"> 
                                <img style="width:2.5rem; height:2.5rem" class="smallBorderRadius" src="{{ asset('build/anton.jpeg')}}" alt="icon d'avatar"/>
                                <p class="text-light ms-3 my-0 fst-italic"> Anton Voleanin </p>
                            </div>
                        </div>

                    </div>
                
                </div>

                <div class="col-md-3 p-3">
                    <div class="card form-shadow bg-secondary-dark p-3 smallBorderRadius">

                        <div class="d-flex justify-content-between">
                            <p>
                                <span>  
                                    <i style="font-size:0.5rem" class="text-primary fa-solid fa-star"></i>
                                    <i style="font-size:0.5rem" class="text-primary fa-solid fa-star"></i>
                                    <i style="font-size:0.5rem" class="text-primary fa-solid fa-star"></i>
                                    <i style="font-size:0.5rem" class="text-primary fa-solid fa-star"></i>
                                    <i style="font-size:0.5rem" class="text-primary fa-solid fa-star"></i>
                                </span>
                            </p>

                            <i class="text-primary fa-brands fa-google"></i>

                        </div>

                        
                        <div class="card-body p-0">
                            <h5 class="card-title fw-bold text-light">Concepteur développeur d'application</h5>
                            <p class="card-text mb-3 text-info">Des formateurs à la page, pédagogue qui aiment transmettre. Bravo.</p>
                            <div class="d-flex align-items-center"> 
                                <img style="width:2.5rem; height:2.5rem" class="smallBorderRadius" src="{{ asset('build/antoine.jpg')}}" />
                                <p class="text-light ms-3 my-0 fst-italic"> Antoine Lalouat </p>
                            </div>
                        </div>

                    </div>
                
                </div>

                <div class="col-md-3 p-3">
                    <div class="card form-shadow bg-secondary-dark p-3 smallBorderRadius">

                        <div class="d-flex justify-content-between">
                            <p>
                                <span>  
                                    <i style="font-size:0.5rem" class="text-primary fa-solid fa-star"></i>
                                    <i style="font-size:0.5rem" class="text-primary fa-solid fa-star"></i>
                                    <i style="font-size:0.5rem" class="text-primary fa-solid fa-star"></i>
                                    <i style="font-size:0.5rem" class="text-primary fa-solid fa-star"></i>
                                    <i style="font-size:0.5rem" class="text-primary fa-solid fa-star"></i>
                                </span>
                            </p>

                            <i class="text-primary fa-brands fa-google"></i>

                        </div>

                        
                        <div class="card-body p-0">
                            <h5 class="card-title fw-bold text-light">Montage vidéo premier pro</h5>
                            <p class="card-text mb-3 text-info">Superbe formation en montage vidéo sur la suite adobe. Formateurs patients et professionnels.</p>
                            <div class="d-flex align-items-center"> 
                                <img style="width:2.5rem; height:2.5rem" class="smallBorderRadius" src="{{ asset('build/elodie.jpg')}}" alt="icon d'avatar" />
                                <p class="text-light ms-3 my-0 fst-italic" > Elodie C. </p>
                            </div>
                        </div>

                    </div>
                
                </div>

                <div class="col-md-3 p-3">
                    <div class="card form-shadow bg-secondary-dark p-3 smallBorderRadius">

                        <div class="d-flex justify-content-between">
                            <p>
                                <span>  
                                    <i style="font-size:0.5rem" class="text-primary fa-solid fa-star"></i>
                                    <i style="font-size:0.5rem" class="text-primary fa-solid fa-star"></i>
                                    <i style="font-size:0.5rem" class="text-primary fa-solid fa-star"></i>
                                    <i style="font-size:0.5rem" class="text-primary fa-solid fa-star"></i>
                                    <i style="font-size:0.5rem" class="text-primary fa-solid fa-star"></i>
                                </span>
                            </p>

                            <i class="text-primary fa-brands fa-google"></i>

                        </div>

                        
                        <div class="card-body p-0">
                            <h5 class="card-title fw-bold text-light">Droit multimédia</h5>
                            <p class="card-text mb-3 text-info">Bonne transmission des connaissances pour la rédaction de RGPD en ligne. J'ai beaucoup appris. Merci !</p>
                            <div class="d-flex align-items-center"> 
                                <img style="width:2.5rem; height:2.5rem" class="smallBorderRadius" src="{{ asset('build/s-cacheux.jpeg')}}" alt="icon d'avatar"/>
                                <p class="text-light ms-3 my-0 fst-italic"> S. Cacheux </p>
                            </div>
                        </div>

                    </div>
                
                </div>

        </div>

    </section>


    {# Notre partenaire vidéo #}

    <section>
        <div class="row main-contact-bar m-0 p-0">

            <div class="bg-secondary-dark col-md-6 align-items-center first-part justify-content-center d-none d-md-flex">
                    <h3 class="text-with-gradient">Besoin de développer votre e-learning?</h3>
            </div>


            <div class="col-12 col-md-6 p-0 relative second-part d-flex">
                <div class="bg-secondary-dark triangle-left"></div>

                <div class="contact-bar d-flex justify-content-center">
                    <div class="contact">
                        <h3 class="d-flex d-md-none text-with-gradient">Vous êtes un professionnel ?</h3>
                        <a aria-label="Accédez à notre offre professionnelle - {{company_name}}" href="{{ path('app_elearning') }}" class="font-weight-bold btn btn-outline-info text-white">DÉCOUVREZ NOS FORMATIONS VIDÉO</a>
                    </div>
                </div>
            </div>

        </div>
    </section>

    {# Page YouTube #}

    <section class="section py-5">

            <div class="container-fluid px-0">
                <div class="container">
                    <h2 class="mb-5 pb-4 text-light"><span class="text-danger">Nos</span> dernières vidéos YouTube</h2>
                </div>
                <div class="container mx-auto row videos">
                    <div class="col-md-4 col-sm-6 mb-5">
                        <iframe class="latestVideoEmbed" style="height:230px;width:100%" vnum='0' frameborder="0" allowfullscreen></iframe>
                    </div>
                                                                
                    <div class="col-md-4 col-sm-6 mb-5">
                        <iframe class="latestVideoEmbed" style="height:230px;width:100%" vnum='1' frameborder="0" allowfullscreen></iframe>
                    </div>
                                                                
                    <div class="col-md-4 col-sm-6 mb-5">
                        <iframe class="latestVideoEmbed" style="height:230px;width:100%" vnum='2' frameborder="0" allowfullscreen></iframe>
                    </div>

                    <div class="col-md-4 col-sm-6 mb-5">
                        <iframe class="latestVideoEmbed" style="height:230px;width:100%" vnum='3' frameborder="0" allowfullscreen></iframe>
                    </div>
                                                                
                    <div class="col-md-4 col-sm-6 mb-5">
                        <iframe class="latestVideoEmbed" style="height:230px;width:100%" vnum='4' frameborder="0" allowfullscreen></iframe>
                    </div>
                                                                
                    <div class="col-md-4 col-sm-6 mb-5">
                        <iframe class="latestVideoEmbed" style="height:230px;width:100%" vnum='5' frameborder="0" allowfullscreen></iframe>
                    </div>

                    <div class="d-flex justify-content-center">
                        <a aria-label="Retrouvez nos vidéos E-learning - {{company_name}}" class="px-3 py-3 smallBorderRadius btn btn-outline-secondary d-flex align-items-center text-light" href="{{path('app_elearning')}}">
                            <i class="fa-solid fa-plus me-2"></i>
                            EN SAVOIR PLUS SUR NOS FORMATIONS VIDÉOS
                        </a>                
                    </div>
                </div>
            </div>

        </section>


   {# Ou nous retrouver #}

    <section class="bg-secondary-dark py-5">

        <div class="text-with-gradient text-center pB-5 relative">
            &lt; VOUS ÊTES UN FORMATEUR OU UN APPRENANT /&gt; 
        </div>

        <h2 class="text-center text-light my-3"> Rejoignez-nous sur Discord ! </h2>

        <div class="row mx-auto col-md-6 mt-5">
            <a aria-label="Découvrez notre serveur Discord - {{company_name}}" href="https://discord.gg/2K7cxC52" target="_blank">
                <img alt="Découvrez notre serveur Discord - {{company_name}}" id="img-discord" src="{{ asset('build/illustration_discord.png')}}" class="cursor-pointer img-fluid" />
            </a>
        </div>


    </section>

    <section>
        <div class="row main-contact-bar m-0 p-0">

            <div class="bg-secondary-dark col-md-6 align-items-center first-part justify-content-center d-none d-md-flex">
                    <h3 class="text-with-gradient">Devenez formateur et partenaire commercial</h3>
            </div>


            <div class="col-12 col-md-6 p-0 relative second-part d-flex">
                <div class="bg-secondary-dark triangle-left"></div>

                <div class="contact-bar d-flex justify-content-center">
                    <div class="contact">
                        <h3 class="d-flex d-md-none text-with-gradient">Vous êtes un professionnel ?</h3>
                        <a aria-label="Accédez à notre offre professionnelle - {{company_name}}" href="{{ path('app_partners') }}" class="font-weight-bold btn btn-outline-info text-white">DÉCOUVREZ NOTRE OFFRE</a>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section class="row mx-auto flex-column justify-content-center align-items-center py-5">

        <div class="text-with-gradient text-center pB-5 relative">
            &lt; LEUR AVIS CHEZ NOUS /&gt; 
        </div>
        
        <h2 class="text-center text-light"> Ce que nos formateurs pensent de leur expérience chez nous </h2>

        <div>
            <p class="text-light text-center my-3">
                EXCELLENT
                <i class="text-primary fa-solid fa-star"></i>
                <i class="text-primary fa-solid fa-star"></i>
                <i class="text-primary fa-solid fa-star"></i>
                <i class="text-primary fa-solid fa-star"></i>
                <i class="text-primary fa-solid fa-star"></i>

                4.9 sur 5 basé sur <a aria-label="Retrouvez nos avis Google - {{company_name}}" class="text-info" href="https://www.google.com/search?q=academie+ws&oq=academie+w&aqs=chrome.0.35i39i650j46i175i199i512j69i57j69i59j46i175i199i512j69i60l3.1534j0j7&sourceid=chrome&ie=UTF-8#lrd=0x47e66ffa2afcfa71:0xbdeea1c321822bb9,1,,,,"> +75 avis</a>

            <p>
        </div>

        <div class="row mx-auto col-md-10 p-3">

            <div class="col-md-3 p-3">
                    <div class="card form-shadow bg-secondary-dark p-3 smallBorderRadius">

                        <div class="d-flex justify-content-between">
                            <p>
                                <span>  
                                    <i style="font-size:0.5rem" class="text-primary fa-solid fa-star"></i>
                                    <i style="font-size:0.5rem" class="text-primary fa-solid fa-star"></i>
                                    <i style="font-size:0.5rem" class="text-primary fa-solid fa-star"></i>
                                    <i style="font-size:0.5rem" class="text-primary fa-solid fa-star"></i>
                                    <i style="font-size:0.5rem" class="text-primary fa-solid fa-star"></i>
                                </span>
                            </p>

                            <i class="text-primary fa-brands fa-google"></i>

                        </div>

                        
                        <div class="card-body p-0">
                            <h5 class="card-title fw-bold text-light">Formatrice en montage vidéo</h5>
                            <p class="card-text mb-3 text-info">Bonne équipe, bonne ambiance et des prestations proposées régulièrement ! ps : formatrice depuis 2 ans</p>
                            <div class="d-flex align-items-center"> 
                                <img style="width:2.5rem; height:2.5rem" class="smallBorderRadius" src="{{ asset('build/s-cacheux.jpeg')}}" alt="icon d'avatar"/>
                                <p class="text-light ms-3 my-0 fst-italic"> Shaade H. </p>
                            </div>
                        </div>

                    </div>
                
                </div>

                <div class="col-md-3 p-3">
                    <div class="card form-shadow bg-secondary-dark p-3 smallBorderRadius">

                        <div class="d-flex justify-content-between">
                            <p>
                                <span>  
                                    <i style="font-size:0.5rem" class="text-primary fa-solid fa-star"></i>
                                    <i style="font-size:0.5rem" class="text-primary fa-solid fa-star"></i>
                                    <i style="font-size:0.5rem" class="text-primary fa-solid fa-star"></i>
                                    <i style="font-size:0.5rem" class="text-primary fa-solid fa-star"></i>
                                    <i style="font-size:0.5rem" class="text-primary fa-solid fa-star"></i>
                                </span>
                            </p>

                            <i class="text-primary fa-brands fa-google"></i>

                        </div>

                        
                        <div class="card-body p-0">
                            <h5 class="card-title fw-bold text-light">Formateur en management</h5>
                            <p class="card-text mb-3 text-info">Equipe sérieuse, emploi du temps prévu à l'avance, aucun retard sur les paiements, je recommande.</p>
                            <div class="d-flex align-items-center"> 
                                <img style="width:2.5rem; height:2.5rem" class="smallBorderRadius" src="{{ asset('build/monkid.jpeg')}}" alt="icon d'avatar" />
                                <p class="text-light ms-3 my-0 fst-italic"> Monkid B. </p>
                            </div>
                        </div>

                    </div>
                
                </div>

                <div class="col-md-3 p-3">
                    <div class="card form-shadow bg-secondary-dark p-3 smallBorderRadius">

                        <div class="d-flex justify-content-between">
                            <p>
                                <span>  
                                    <i style="font-size:0.5rem" class="text-primary fa-solid fa-star"></i>
                                    <i style="font-size:0.5rem" class="text-primary fa-solid fa-star"></i>
                                    <i style="font-size:0.5rem" class="text-primary fa-solid fa-star"></i>
                                    <i style="font-size:0.5rem" class="text-primary fa-solid fa-star"></i>
                                    <i style="font-size:0.5rem" class="text-primary fa-solid fa-star"></i>
                                </span>
                            </p>

                            <i class="text-primary fa-brands fa-google"></i>

                        </div>

                        
                        <div class="card-body p-0">
                            <h5 class="card-title fw-bold text-light">Formateur en programmation</h5>
                            <p class="card-text mb-3 text-info">J'ai démarré ma carrière chez {{company_name}} depuis 2 ans, formations au top, équipe professionnelle, merci !</p>
                            <div class="d-flex align-items-center"> 
                                <img style="width:2.5rem; height:2.5rem" class="smallBorderRadius" src="{{ asset('build/quentin.jpeg')}}" alt="icon d'avatar"/>
                                <p class="text-light ms-3 my-0 fst-italic"> Quentin V. </p>
                            </div>
                        </div>

                    </div>
                
                </div>

                <div class="col-md-3 p-3">
                    <div class="card form-shadow bg-secondary-dark p-3 smallBorderRadius">

                        <div class="d-flex justify-content-between">
                            <p>
                                <span>  
                                    <i style="font-size:0.5rem" class="text-primary fa-solid fa-star"></i>
                                    <i style="font-size:0.5rem" class="text-primary fa-solid fa-star"></i>
                                    <i style="font-size:0.5rem" class="text-primary fa-solid fa-star"></i>
                                    <i style="font-size:0.5rem" class="text-primary fa-solid fa-star"></i>
                                    <i style="font-size:0.5rem" class="text-primary fa-solid fa-star"></i>
                                </span>
                            </p>

                            <i class="text-primary fa-brands fa-google"></i>

                        </div>

                        
                        <div class="card-body p-0">
                            <h5 class="card-title fw-bold text-light">Formatrice en droit</h5>
                            <p class="card-text mb-3 text-info">Bonne organisation, équipe au petit soin, liberté de choisir nos plannings, je recommande !</p>
                            <div class="d-flex align-items-center"> 
                                <img style="width:2.5rem; height:2.5rem" class="smallBorderRadius" src="{{ asset('build/leila.jpeg')}}" alt="icon d'avatar"/>
                                <p class="text-light ms-3 my-0 fst-italic"> Sara H. </p>
                            </div>
                        </div>

                    </div>
                
                </div>

        </div>

    </section>


{% endblock %}
