{% extends 'base.html.twig' %}

{% block meta_description %} Vous souhaitez intervenir en tant que Formateur? Passez par la Formation WS pour trouver les missions qui vous ressemblent.  {% endblock %}
{% block title %}Le processus pour devenir formateur {{parent()}} {% endblock %}

{% block body %}

    <div class="col-md-12 mx-auto row py-5" style="background:linear-gradient(0deg,#31092a,#0e0331)">

        <div class="col-md-12">
            <h1 class="text-center text-white"> SIMPLIFIEZ VOTRE TRAVAIL DE FORMATEUR </h1>
            <h2 class="text-center text-primary fw400"> Laissez-nous vous trouver les missions qui vous correspondent  </h2>
        </div>

        <div class="col-md-12">
            <p class="text-center text-white"> VALORISATION <span class="text-primary">//</span> COACHING <span class="text-primary">//</span> FORMATION SPÉCIALISÉE <span class="text-primary">//</span> EVOLUTIONS PROFESSIONNELLES</p>
        </div>

        <div class="col-md-12 d-flex justify-content-center">
            <a aria-label="CANDIDATEZ EN TANT QUE FORMATEUR - Formation WS" class="text-light smallBorderRadius colorWhite btn btn-secondary pull-right border-radius-btn mt-5 fw600 d-flex align-items-center" href="{{path('teacher_opportunity')}}">
            <i class="fa-solid fa-suitcase me-3"></i>
            TROUVEZ DES MISSIONS DE FORMATION</a>
        </div>

    </div>

    <section class="bg-secondary-dark py-5">

        <div class="text-with-gradient text-center pB-5 relative">
            &lt; FONCTIONNEMENT /&gt; 
        </div>

        <h2 class="text-center text-light mt-5"> POUR LES ECOLES OU ORGANISMES DE FORMATION </h2>

        <div class="row mx-auto col-md-10 p-3 mt-5">

            <div class="col-md-3 p-3">
                <div class="bg-none card p-4 form-shadow align-items-center">
                    <a aria-label="CANDIDATEZ EN TANT QUE FORMATEUR - Formation WS" class="pb-3" href="{{path('teacher_opportunity')}}">
                        <i class="text-light fa-solid fa-1 icon-xl"></i>
                    </a>
                    
                    <div class="card-body p-0">
                    
                        <a aria-label="CANDIDATEZ EN TANT QUE FORMATEUR - Formation WS" href="{{path('teacher_opportunity')}}">
                            <h5 class="card-title fw-bold text-light">CANDIDATEZ EN TANT QUE FORMATEUR</h5>
                            <p class="card-text text-info text-justify text-justify">Gratuit en sans engagement ! Parlez-nous un peu de vous.</p>
                        </a>
                    </div>
                </div>
            
            </div>

            <div class="col-md-3 p-3">
                <div class="bg-none card p-4 form-shadow align-items-center h-100">
                    
                    <div class="card-body p-0 d-flex align-items-center">
                        <i class="text-primary fa-solid fa-arrow-right icon-xl"></i>
                    </div>
                </div>
            
            </div>

            <div class="col-md-3 p-3">
                <div class="bg-none card p-4 form-shadow align-items-center">
                    <a aria-label="ECHANGEONS LORS D'UN ENTRETIEN - Formation WS" class="pb-3" href="{{path('teacher_opportunity')}}">
                        <i class="text-light fa-solid fa-2 icon-xl"></i>
                    </a>
                    
                    <div class="card-body p-0">
                    
                        <a aria-label="ECHANGEONS LORS D'UN ENTRETIEN - Formation WS" href="{{path('teacher_opportunity')}}">
                            <h5 class="card-title fw-bold text-light">ECHANGEONS LORS D'UN ENTRETIEN</h5>
                            <p class="card-text text-info text-justify">Echanger avec l'un de nos coach pour une future mise en situation.</p>
                        </a>
                    </div>
                </div>
            
            </div>
            
            <div class="col-md-3 p-3">
                <div class="bg-none card p-4 form-shadow align-items-center h-100">
                    
                    <div class="card-body p-0 d-flex align-items-center">
                        <i class="rotate-90 text-primary fa-solid fa-arrow-right icon-xl"></i>
                    </div>
                </div>
            
            </div>

            {#  #}

            <div class="col-md-3 p-3">
                <div class="bg-none card p-4 form-shadow align-items-center h-100">
                    
                    <div class="card-body p-0 d-flex align-items-center">
                        <i class="rotate-270 text-primary fa-solid fa-arrow-right icon-xl"></i>
                    </div>
                </div>
            </div>

            <div class="col-md-3 p-3">
                <div class="bg-none card p-4 form-shadow align-items-center">
                    <a aria-label="PREMIÈRE INTERVENTION - Formation WS" class="pb-3" href="{{path('teacher_opportunity')}}">
                        <i class="text-light fa-solid fa-4 icon-xl"></i>
                    </a>
                    
                    <div class="card-body p-0">
                    
                        <a aria-label="PREMIÈRE INTERVENTION - Formation WS" href="{{path('teacher_opportunity')}}">
                            <h5 class="card-title fw-bold text-light">PREMIÈRE INTERVENTION</h5>
                            <p class="card-text text-info text-justify">Nous vous proposerons des missions adaptées à votre profil et votre planning sera disponible dans votre espace formateur.</p>
                        </a>
                    </div>
                </div>
            
            </div>

            <div class="col-md-3 p-3">
                <div class="bg-none card p-4 form-shadow align-items-center h-100">
                    
                    <div class="card-body p-0 d-flex align-items-center">
                    
                        <i class="rotate-180 text-primary fa-solid fa-arrow-right icon-xl"></i>
                    </div>
                </div>
            
            </div>
            
            <div class="col-md-3 p-3">
                <div class="bg-none card p-4 form-shadow align-items-center">
                    <a aria-label="MISE EN SITUATION ET VALIDATION - Formation WS" class="pb-3" href="{{path('teacher_opportunity')}}">
                        <i class="text-light fa-solid fa-3 icon-xl"></i>
                    </a>
                    
                    <div class="card-body p-0">
                    
                        <a aria-label="MISE EN SITUATION ET VALIDATION - Formation WS" href="{{path('teacher_opportunity')}}">
                            <h5 class="card-title fw-bold text-light">MISE EN SITUATION ET VALIDATION</h5>
                            <p class="card-text text-info text-justify">Présentez-nous le sujet de votre choix pour valider vos compétences et vos soft skills.</p>
                        </a>
                    </div>
                </div>
            
            </div>

        </div>


    </section>

    <section class="section bg-secondary text-center py-5 form-shadow">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-6 col-lg-3">
                    <div class="row ">
                        <div class="col-5 text-right text-light border-right py-3">
                            <div class="m-auto"><i class="fa-solid fa-briefcase icon-xl"></i></div>
                        </div>
                        <div class="col-7 text-left py-3">
                            <h2 class="text-danger font-weight-bold font40">Interventions</h2>
                            <p class="text-light mb-1">garanties</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="row">
                        <div class="col-5 text-right text-light border-right py-3">
                            <div class="m-auto"><i class="fa-solid fa-graduation-cap icon-xl"></i></div>
                        </div>
                        <div class="col-7 text-left py-3">
                            <h2 class="text-danger font-weight-bold font40">Formation</h2>
                            <p class="text-light mb-1">continue</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="row">
                        <div class="col-5 text-right text-light border-right py-3">
                            <div class="m-auto"><i class="fa-solid fa-shield-halved icon-xl"></i></div>
                        </div>
                        <div class="col-7 text-left py-3">
                            <h2 class="text-danger font-weight-bold font40">Sécurité</h2>
                            <p class="text-light mb-1">contractuelle</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="row">
                        <div class="col-5 text-right text-light border-right py-3">
                            <div class="m-auto"><i class="fa-solid fa-battery-full icon-xl"></i></div>
                        </div>
                        <div class="col-7 text-left py-3">
                            <h2 class="text-danger font-weight-bold font40">Valorisation</h2>
                            <p class="text-light mb-1">de votre profil</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-secondary-dark justify-content-center align-items-center flex-column relative pb-5">


        <div class="text-with-gradient text-center py-5 relative">
            &lt; COLLABORONS ENSEMBLE /&gt; 
        </div>
        
        <h2 class="text-center text-light"> LES AVANTAGES POUR LE FORMATEUR </h2>


        <div class="row mx-auto col-md-10 p-3">

            <div class="col-md-3 p-3">
                <div class="bg-none card p-4 form-shadow align-items-center">
                    <a aria-label="Mission - Formation WS" class="pb-3" href="{{path('teacher_opportunity')}}">
                        <i class="fa-solid fa-briefcase icon-xl text-light"></i>
                    </a>
                    
                    <div class="card-body p-0">
                    
                        <a aria-label="Mission - Formation WS" href="{{path('teacher_opportunity')}}">
                            <h5 class="card-title fw-bold text-light text-center">MISSIONS</h5>
                            <p class="card-text text-info text-center">Nous vous proposons des missions toute l'année.</p>
                        </a>
                    </div>
                </div>
            
            </div>

            <div class="col-md-3 p-3">
                <div class="bg-none card p-4 form-shadow align-items-center">
                    <a aria-label="SÉCURITÉ - Formation WS" class="pb-3" href="{{path('teacher_opportunity')}}">
                        <i class="fa-solid fa-shield-halved icon-xl text-light"></i>
                    </a>
                    
                    <div class="card-body p-0">
                    
                        <a aria-label="SÉCURITÉ - Formation WS" href="{{path('teacher_opportunity')}}">
                            <h5 class="card-title fw-bold text-light text-center">SÉCURITÉ</h5>
                            <p class="card-text text-info text-center">Nous vous proposons des contrats sécurisés.</p>
                        </a>
                    </div>
                </div>
            
            </div>

            <div class="col-md-3 p-3">
                <div class="bg-none card p-4 form-shadow align-items-center">
                    <a aria-label="EVOLUTIONS - Formation WS" class="pb-3" href="{{path('teacher_opportunity')}}">
                        <i class="fa-solid fa-chart-line icon-xl text-light"></i>
                    </a>
                    
                    <div class="card-body p-0">
                    
                        <a aria-label="EVOLUTIONS - Formation WS" href="{{path('teacher_opportunity')}}">
                            <h5 class="card-title fw-bold text-light text-center">EVOLUTIONS</h5>
                            <p class="card-text text-info text-center">Formez-vous gratuitement en vidéo sur notre plateforme.</p>
                        </a>
                    </div>
                </div>
            
            </div>
            
            <div class="col-md-3 p-3">
                <div class="bg-none card p-4 form-shadow align-items-center">
                    <a aria-label="GAIN DE TEMPS - Formation WS" class="pb-3" href="{{path('teacher_opportunity')}}">
                        <i class="fa-solid fa-clock icon-xl text-light"></i>
                    </a>
                    
                    <div class="card-body p-0">
                    
                        <a aria-label="GAIN DE TEMPS - Formation WS" href="{{path('teacher_opportunity')}}">
                            <h5 class="card-title fw-bold text-light text-center">GAIN DE TEMPS</h5>
                            <p class="card-text text-info text-center">Profitez de nos ressources pédagogiques pour vos cours.</p>
                        </a>
                    </div>
                </div>
            
            </div>


            {#  #}

            <div class="col-md-3 p-3">
                <div class="bg-none card p-4 form-shadow align-items-center">
                    <a aria-label="LIBERTÉ - Formation WS" class="pb-3" href="{{path('teacher_opportunity')}}">
                        <i class="fa-solid fa-rainbow icon-xl text-light"></i>
                    </a>
                    
                    <div class="card-body p-0">
                    
                        <a aria-label="LIBERTÉ - Formation WS" href="{{path('teacher_opportunity')}}">
                            <h5 class="card-title fw-bold text-light text-center">LIBERTÉ</h5>
                            <p class="card-text text-info text-center">Vous validez vous-mêmes vos plannings et partez en vacances quand vous voulez !</p>
                        </a>
                    </div>
                </div>
            
            </div>

            <div class="col-md-3 p-3">
                <div class="bg-none card p-4 form-shadow align-items-center">
                    <a aria-label="COACHING - Formation WS" class="pb-3" href="{{path('teacher_opportunity')}}">
                        <i class="fa-solid fa-dumbbell icon-xl text-light"></i>
                    </a>
                    
                    <div class="card-body p-0">
                    
                        <a aria-label="COACHING - Formation WS" href="{{path('teacher_opportunity')}}">
                            <h5 class="card-title fw-bold text-light text-center">COACHING</h5>
                            <p class="card-text text-info text-center">Nous vous coachons pour pour vous permettre d'assurer des formations de qualité.</p>
                        </a>
                    </div>
                </div>
            
            </div>

            <div class="col-md-3 p-3">
                <div class="bg-none card p-4 form-shadow align-items-center">
                    <a aria-label="FORMATION CONTINUE - Formation WS" class="pb-3" href="{{path('teacher_opportunity')}}">
                        <i class="fa-solid fa-arrow-up icon-xl text-light"></i>
                    </a>
                    
                    <div class="card-body p-0">
                    
                        <a aria-label="FORMATION CONTINUE - Formation WS" href="{{path('teacher_opportunity')}}">
                            <h5 class="card-title fw-bold text-light text-center">FORMATION CONTINUE</h5>
                            <p class="card-text text-info text-center">Vous aurez accès à l'Académie WS pour vous former en vidéo, plutôt cool hein?</p>
                        </a>
                    </div>
                </div>
            
            </div>
            
            <div class="col-md-3 p-3">
                <div class="bg-none card p-4 form-shadow align-items-center">
                    <a aria-label="ACCÈS PRIVÉ - Formation WS" class="pb-3" href="{{path('teacher_opportunity')}}">
                        <i class="fa-solid fa-key icon-xl text-light"></i>
                    </a>
                    
                    <div class="card-body p-0">
                    
                        <a aria-label="ACCÈS PRIVÉ - Formation WS" href="{{path('teacher_opportunity')}}">
                            <h5 class="card-title fw-bold text-light text-center">ACCÈS PRIVÉ</h5>
                            <p class="card-text text-info text-center">Profitez notre plateforme et de nos outils collaboratifs pour simplifier votre quotidien.</p>
                        </a>
                    </div>
                </div>
            
            </div>

        </div>

    </section>

    <section class="bg-secondary row mx-auto flex-column justify-content-center align-items-center py-5">

        <div class="text-with-gradient text-center pB-5 relative">
            &lt; LEURS AVIS /&gt; 
        </div>
        
        <h2 class="text-center text-light"> Ce que nos formateurs pensent de nous </h2>

        <div>
            <p class="text-light text-center my-3">
                EXCELLENT
                <i class="text-primary fa-solid fa-star"></i>
                <i class="text-primary fa-solid fa-star"></i>
                <i class="text-primary fa-solid fa-star"></i>
                <i class="text-primary fa-solid fa-star"></i>
                <i class="text-primary fa-solid fa-star"></i>

                4.9 sur 5 basé sur <a aria-label="Retrouvez nos avis sur Google - Formation WS" class="text-info" href=""> +75 avis</a>

            <p>
        </div>

        <div class="row mx-auto col-md-10 p-3">

            <div class="col-md-3 p-3">
                    <div class="course-card card form-shadow bg-secondary-dark p-3 smallBorderRadius">

                        <div class="d-flex justify-content-between">
                            <p>
                                <span>  
                                    <i style="font-size:0.5rem" class="text-primary fa-solid fa-star"></i>
                                    <i style="font-size:0.5rem" class="text-primary fa-solid fa-star"></i>
                                    <i style="font-size:0.5rem" class="text-primary fa-solid fa-star"></i>
                                    <i style="font-size:0.5rem" class="text-primary fa-solid fa-star"></i>
                                    <i style="font-size:0.5rem" class="text-primary fa-solid fa-star"></i>
                                </span>
                            </p>

                            <i class="text-primary fa-brands fa-google"></i>

                        </div>

                        
                        <div class="card-body p-0">
                            <h5 class="card-title fw-bold text-light">Formatrice en montage vidéo</h5>
                            <p class="card-text mb-3 text-info">Bonne équipe, bonne ambiance et des prestations proposées régulièrement ! ps : formatrice depuis 2 ans</p>
                            <div class="d-flex align-items-center"> 
                                <img style="width:2.5rem; height:2.5rem" class="smallBorderRadius" src="{{ asset('build/s-cacheux.jpeg')}}" />
                                <p class="text-light ms-3 my-0 fst-italic"> Shaade H. </p>
                            </div>
                        </div>

                    </div>
                
                </div>

                <div class="col-md-3 p-3">
                    <div class="course-card card form-shadow bg-secondary-dark p-3 smallBorderRadius">

                        <div class="d-flex justify-content-between">
                            <p>
                                <span>  
                                    <i style="font-size:0.5rem" class="text-primary fa-solid fa-star"></i>
                                    <i style="font-size:0.5rem" class="text-primary fa-solid fa-star"></i>
                                    <i style="font-size:0.5rem" class="text-primary fa-solid fa-star"></i>
                                    <i style="font-size:0.5rem" class="text-primary fa-solid fa-star"></i>
                                    <i style="font-size:0.5rem" class="text-primary fa-solid fa-star"></i>
                                </span>
                            </p>

                            <i class="text-primary fa-brands fa-google"></i>

                        </div>

                        
                        <div class="card-body p-0">
                            <h5 class="card-title fw-bold text-light">Formateur en management</h5>
                            <p class="card-text mb-3 text-info">Equipe sérieuse, emploi du temps prévu à l'avance, aucun retard sur les paiements, je recommande.</p>
                            <div class="d-flex align-items-center"> 
                                <img style="width:2.5rem; height:2.5rem" class="smallBorderRadius" src="{{ asset('build/monkid.jpeg')}}" />
                                <p class="text-light ms-3 my-0 fst-italic"> Monkid B. </p>
                            </div>
                        </div>

                    </div>
                
                </div>

                <div class="col-md-3 p-3">
                    <div class="course-card card form-shadow bg-secondary-dark p-3 smallBorderRadius">

                        <div class="d-flex justify-content-between">
                            <p>
                                <span>  
                                    <i style="font-size:0.5rem" class="text-primary fa-solid fa-star"></i>
                                    <i style="font-size:0.5rem" class="text-primary fa-solid fa-star"></i>
                                    <i style="font-size:0.5rem" class="text-primary fa-solid fa-star"></i>
                                    <i style="font-size:0.5rem" class="text-primary fa-solid fa-star"></i>
                                    <i style="font-size:0.5rem" class="text-primary fa-solid fa-star"></i>
                                </span>
                            </p>

                            <i class="text-primary fa-brands fa-google"></i>

                        </div>

                        
                        <div class="card-body p-0">
                            <h5 class="card-title fw-bold text-light">Formateur en programmation</h5>
                            <p class="card-text mb-3 text-info">J'ai démarré ma carrière chez formation ws depuis 2 ans, formations au top, équipe professionnelle, merci !</p>
                            <div class="d-flex align-items-center"> 
                                <img style="width:2.5rem; height:2.5rem" class="smallBorderRadius" src="{{ asset('build/quentin.jpeg')}}" />
                                <p class="text-light ms-3 my-0 fst-italic"> Quentin V. </p>
                            </div>
                        </div>

                    </div>
                
                </div>

                <div class="col-md-3 p-3">
                    <div class="course-card card form-shadow bg-secondary-dark p-3 smallBorderRadius">

                        <div class="d-flex justify-content-between">
                            <p>
                                <span>  
                                    <i style="font-size:0.5rem" class="text-primary fa-solid fa-star"></i>
                                    <i style="font-size:0.5rem" class="text-primary fa-solid fa-star"></i>
                                    <i style="font-size:0.5rem" class="text-primary fa-solid fa-star"></i>
                                    <i style="font-size:0.5rem" class="text-primary fa-solid fa-star"></i>
                                    <i style="font-size:0.5rem" class="text-primary fa-solid fa-star"></i>
                                </span>
                            </p>

                            <i class="text-primary fa-brands fa-google"></i>

                        </div>

                        
                        <div class="card-body p-0">
                            <h5 class="card-title fw-bold text-light">Formatrice en droit</h5>
                            <p class="card-text mb-3 text-info">Bonne organisation, équipe au petit soin, liberté de choisir nos plannings, je recommande !</p>
                            <div class="d-flex align-items-center"> 
                                <img style="width:2.5rem; height:2.5rem" class="smallBorderRadius" src="{{ asset('build/leila.jpeg')}}" />
                                <p class="text-light ms-3 my-0 fst-italic"> Sara H. </p>
                            </div>
                        </div>

                    </div>
                
                </div>

        </div>

    </section>


    {# TODO : QUESTIONS FRÉQUENTES #}

    <section class="row mx-auto justify-content-center bg-secondary-dark py-5">

        <div class="text-with-gradient text-center pB-5 relative">
            &lt; QUESTIONS / RÉPONSSES /&gt; 
        </div>
        
        <h2 class="text-center text-light"> Vos questions fréquentes  </h2>

        <div class="row accordion col-md-10 justify-content-center" id="accordionExample">

            {% for faq in faqTeachers %}

                <div class="accordion col-md-10 py-1" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                        <button class="accordion-button bg-info collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{faq.id}}" aria-expanded="false" aria-controls="collapse{{faq.id}}">
                            {{faq.question}}
                        </button>
                        </h2>
                        <div id="collapse{{faq.id}}" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                {{faq.answer}}
                            </div>
                        </div>
                    </div>
                </div>

            {% endfor %}

        </div>


    </section>


{% endblock %}
