{% extends 'base.html.twig' %}

{% block meta_description %} Découvrez les réalisations de l'Académie WS. {% endblock %}

{% block title %} Exemple de réalisations {{parent()}} {% endblock %}

{% block body %}

    <div class="col-md-12 mx-auto row py-5" style="background:linear-gradient(0deg,#31092a,#0e0331)">

        <div class="col-md-12">
            <h1 class="text-center text-white"> DÉVELOPPEZ VOS FORMATS E-LEARNING ET BLENDED </h1>
            <h2 class="text-center text-primary fw400"> Renforcez l'intervention des formateurs avec nos vidéos  </h2>
        </div>

        <div class="col-md-12">
            <p class="text-center text-white"> EN MARQUE BLANCHE <span class="text-primary">//</span> SUR MESURE <span class="text-primary">//</span> SOUS LICENSE <span class="text-primary">//</span> SOUS ABONNEMENT</p>
        </div>

        <div class="col-md-12 d-flex justify-content-center">
            <a class="text-light smallBorderRadius colorWhite btn btn-secondary pull-right border-radius-btn mt-5 fw600 d-flex align-items-center" href=""><i class="far fa-play-circle me-2"></i>Accéder à nos formations vidéo</a>
        </div>            <div class="col-md-3 p-3">
                {# <a aria-label="Développement Front End - Académie WS" href="/categories/1">
                    </a> #}
                <div class="course-card card form-shadow bg-none">
                    <a aria-label="Développement Front End - Académie WS" href="/categories/1">
                        <img class="card-img-top smallBorderRadius" src="{{ asset('build/categories/front-end.png')}}" alt="Développement Front End" title="Développement Front End">
                    </a>
                    
                    <div class="card-body">
                    
                        <a aria-label="Développement Front End - Académie WS" href="">
                            <h5 class="card-title fw-bold text-light">Développement Front End</h5>
                            <p class="card-text mb-3 text-info">Découvrez les technologies front-end les plus demandées du marché et créez vos premières pages web!</p>
                        </a>
                        {# <a aria-label="Développement Front End - Académie WS" style="color:white !important" href="/categories/1" class="btn btn-primary">Accéder aux cours</a> #}
                    </div>
                </div>
            
            </div>

            <div class="col-md-3 p-3">
                {# <a aria-label="Développement Front End - Académie WS" href="/categories/1">
                    </a> #}
                <div class="course-card card form-shadow bg-none">
                    <a aria-label="Développement Front End - Académie WS" href="/categories/1">
                        <img class="card-img-top smallBorderRadius" src="{{ asset('build/categories/back-end.png')}}" alt="Développement Front End" title="Développement Front End">
                    </a>
                    
                    <div class="card-body">
                    
                        <a aria-label="Développement Front End - Académie WS" href="">
                            <h5 class="card-title fw-bold text-light">Développement Front End</h5>
                            <p class="card-text mb-3 text-info">Découvrez les technologies front-end les plus demandées du marché et créez vos premières pages web!</p>
                        </a>
                        {# <a aria-label="Développement Front End - Académie WS" style="color:white !important" href="/categories/1" class="btn btn-primary">Accéder aux cours</a> #}
                    </div>
                </div>
            
            </div>

            <div class="col-md-3 p-3">
                {# <a aria-label="Développement Front End - Académie WS" href="/categories/1">
                    </a> #}
                <div class="course-card card form-shadow bg-none">
                    <a aria-label="Développement Front End - Académie WS" href="/categories/1">
                        <img class="card-img-top smallBorderRadius" src="{{ asset('build/categories/reseaux-systemes.png')}}" alt="Développement Front End" title="Développement Front End">
                    </a>
                    
                    <div class="card-body">
                    
                        <a aria-label="Développement Front End - Académie WS" href="">
                            <h5 class="card-title fw-bold text-light">Développement Front End</h5>
                            <p class="card-text mb-3 text-info">Découvrez les technologies front-end les plus demandées du marché et créez vos premières pages web!</p>
                        </a>
                        {# <a aria-label="Développement Front End - Académie WS" style="color:white !important" href="/categories/1" class="btn btn-primary">Accéder aux cours</a> #}
                    </div>
                </div>
            
            </div>
            
            <div class="col-md-3 p-3">
                {# <a aria-label="Développement Front End - Académie WS" href="/categories/1">
                    </a> #}
                <div class="course-card card form-shadow bg-none">
                    <a aria-label="Développement Front End - Académie WS" href="/categories/1">
                        <img class="card-img-top smallBorderRadius" src="{{ asset('build/categories/back-end.png')}}" alt="Développement Front End" title="Développement Front End">
                    </a>
                    
                    <div class="card-body">
                    
                        <a aria-label="Développement Front End - Académie WS" href="">
                            <h5 class="card-title fw-bold text-light">Développement Front End</h5>
                            <p class="card-text mb-3 text-info">Découvrez les technologies front-end les plus demandées du marché et créez vos premières pages web!</p>
                        </a>
                        {# <a aria-label="Développement Front End - Académie WS" style="color:white !important" href="/categories/1" class="btn btn-primary">Accéder aux cours</a> #}
                    </div>
                </div>
            
            </div>

    </div>

    <div class="col-md-10 mx-auto row py-5" id="e-learning">
        <div class="col-12 col-md-6">

            <h2 class="mb-5"> Préparez votre entrée en formation et atteignez vos objectifs !</h2>

            <p> Vous êtes sur le point d'entrer en formation et vous ne savez pas comment vous préparer? Vous ne savez pas par où commencer? Ces vidéos sont faites pour vous !</p>
            <p> Développez grâce à ces vidéos le bon mindset pour réussir au mieux votre formation. Vous aurez besoin principalement de trois choses : un bon état d'esprit, une bonne culture web générale et les outils nécessaires pour atteindre vos objectifs.</p>
            <p> C'est parce que notre équipe est constamment sur le terrain auprès de nos apprenants que ces vidéos ont été développées. </p>

            <p> Que vous soyez expérimenté ou non, ces vidéos renforceront votre aptitude à apprendre de manière intensive des concepts complexes pour atteindre vos objectifs !</p>

        </div>

        <div class="col-12 col-md-6 row justify-content-end my-5 my-md-0">
            <div class="col-md-10 bg-grey-light py-4 px-3 d-flex flex-column justify-content-between form-shadow smallBorderRadius">

                <ul class="d-flex h-100 flex-column justify-content-between">
                    <li class="text-dark my-2 my-md-0"> <i class="text-dark fas fa-layer-group"></i> MISE À JOUR </li>
                    <li class="text-dark my-2 my-md-0"> <i class="text-dark fas fa-calendar-times"></i> VIDÉOS THÉORIQUES </li>
                    <li class="text-dark my-2 my-md-0"> <i class="text-dark fas fa-clock"></i> EXERCICES CORRIGÉS EN VIDÉO </li>
                    <li class="text-dark my-2 my-md-0"> <i class="text-dark fas fa-book"></i> TRAVAUX PRATIQUES EN VIDÉO </li>
                    <li class="text-dark my-2 my-md-0"> <i class="text-dark fas fa-arrow-circle-down"></i> QCM - SUPPORTS PDF FOURNIS </li>
                    <li class="text-dark my-2 my-md-0"> <i class="text-dark fas fa-tablet-alt"></i> CODE DÉVELOPPÉ DANS LES VIDÉOS </li>
                </ul>

            </div>
        </div>

        <div class="d-flex">
            <a class="text-light smallBorderRadius btn btn-secondary mt-5 d-flex align-items-center" href=""><i class="far fa-play-circle me-2"></i>Accéder au cours</a>                
        </div>
    </div>

    <div class="row main-contact-bar m-0 p-0">

        <div class="bg-secondary-dark col-md-6 align-items-center first-part justify-content-center d-none d-md-flex">
				<h3 class="text-with-gradient">Pourquoi choisir nos vidéos ?</h3>
        </div>


        <div class="col-12 col-md-6 p-0 relative second-part d-flex">
            <div class="bg-secondary-dark triangle-left"></div>

            <div class="contact-bar d-flex justify-content-center">
                <div class="contact">
                    <h3 class="d-flex d-md-none text-with-gradient">Vous êtes un professionnel ?</h3>
                    <a aria-label="Accéder à notre offre professionnelle - Académie WS" href="/pro/offer" class="font-weight-bold btn btn-outline-info text-white">DÉCOUVREZ L'ACADÉMIE WS</a>
                </div>
            </div>
        </div>

    </div>

    <div id="row exemple-realisations">

        <div class="container-fluid px-0">
            <div class="container mt-5">
                <h2 class="mb-5 pb-4"><span class="text-danger">Nos</span> dernières productions</h2>
            </div>

            <div class="row mx-auto px-0 py-5 py-md-0">

                <div class="row col-md-10 mx-auto">
                    <div class="d-flex flex-column col-12 col-md-6 align-items-end justify-content-center realisation-presentation mb-3 mb-md-0">
                        <div class="text-primary">MOTION DESIGN</div>
                        <h3>L'histoire des langages informatiques</h3>
                        <p class="font-weight-bold colorGrey"> DÉVELOPPER VOTRE CULTURE DIGITALE DU WEB </p>
                        <a aria-label="Accéder à nos cours - Académie WS" class="font-weight-bold btn btn-outline-info text-info" href="" role="button">NOS FORMATIONS VIDÉO</a>
                    </div>

                    <div class="col-12 col-md-6 layout-iframe">
                        <iframe src="https://player.vimeo.com/video/796631243?h=92f039be20" width="100%" height="564" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                    </div>
                </div>
            </div>

            <div class="row mx-auto bg-grey-light form-shadow px-0 py-5 py-md-0">

                <div class="row col-md-10 mx-auto">

                    <div class="col-12 col-md-6 layout-iframe">
                        <iframe src="https://player.vimeo.com/video/759448943?h=f9670448a8" width="100%" height="564" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                    </div>

                    <div class="d-flex flex-column col-12 col-md-6 align-items-start justify-content-center realisation-presentation mb-3 mb-md-0">
                        <div class="text-primary">FORMATION VIDÉO</div>
                        <h3>La synthaxe JSX en React JS</h3>
                        <p class="font-weight-bold colorGrey"> DÉVELOPPER UNE APPLICATION WEB MONOPAGE AVEC REACT JS </p>
                        <a aria-label="Accéder à nos cours - Académie WS" class="font-weight-bold btn btn-outline-info text-info" href="" role="button">NOS FORMATIONS VIDÉO</a>
                    </div>
                </div>

            </div>

                <section class="section bg-secondary-dark text-center py-5">
                    <div class="container">
                        <div class="row text-center">
                            <div class="col-md-6 col-lg-3">
                                <div class="row ">
                                    <div class="col-5 text-right text-light border-right py-3">
                                        <div class="m-auto"><i class="fa-solid fa-chalkboard-user icon-xl"></i></div>
                                    </div>
                                    <div class="col-7 text-left py-3">
                                        <h1 class="text-danger font-weight-bold font40">+2000</h1>
                                        <p class="text-light mb-1">Tutoriels</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <div class="row">
                                    <div class="col-5 text-right text-light border-right py-3">
                                        <div class="m-auto"><i class="fa-solid fa-flask icon-xl"></i></div>
                                    </div>
                                    <div class="col-7 text-left py-3">
                                        <h1 class="text-danger font-weight-bold font40">+200</h1>
                                        <p class="text-light mb-1">Motion Design</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <div class="row">
                                    <div class="col-5 text-right text-light border-right py-3">
                                        <div class="m-auto"><i class="fa-solid fa-display icon-xl"></i></div>
                                    </div>
                                    <div class="col-7 text-left py-3">
                                        <h1 class="text-danger font-weight-bold font40">+100</h1>
                                        <p class="text-light mb-1">Fond vert</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <div class="row">
                                    <div class="col-5 text-right text-light border-right py-3">
                                        <div class="m-auto"><i class="fa-solid fa-industry icon-xl"></i></div>
                                    </div>
                                    <div class="col-7 text-left py-3">
                                        <h1 class="text-danger font-weight-bold font40">+200</h1>
                                        <p class="text-light mb-1">Projet fil rouge</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

            <div class="row mx-auto px-0 py-5 py-md-0">

                <div class="row col-md-10 mx-auto">

                    <div class="d-flex flex-column col-12 col-md-6 align-items-end justify-content-center realisation-presentation mb-3 mb-md-0">
                        <div class="text-primary">FOND VERT</div>
                        <h3>Comment rédiger sur le web?</h3>
                        <p class="font-weight-bold colorGrey"> DÉVELOPPER VOS COMPÉTENCES EN COMMUNITY MANAGEMENT </p>
                        <a aria-label="Accéder à nos cours - Académie WS" class="font-weight-bold btn btn-outline-info text-info" href="" role="button">NOS FORMATIONS VIDÉO</a>
                    </div>

                    <div class="col-12 col-md-6 layout-iframe">
                        <iframe src="https://player.vimeo.com/video/796618355?h=270dc90631" width="100%" height="564" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe> 
                    </div>

                </div>

            </div>

            <div class="row mx-auto bg-grey-light form-shadow px-0 py-5 py-md-0">

                <div class="row col-md-10 mx-auto">

                    <div class="col-12 col-md-6 layout-iframe">
                        <iframe src="https://player.vimeo.com/video/796617154?h=1b732e0cfd" width="100%" height="564" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                    </div>

                    <div class="d-flex flex-column col-12 col-md-6 align-items-start justify-content-center realisation-presentation mb-3 mb-md-0">
                        <div class="text-primary">FILM PROMOTIONNEL</div>
                        <h3>Le rallye des Gazelles</h3>
                        <p class="font-weight-bold colorGrey"> DÉCOUVREZ LA VIDÉO PROMOTIONNELLE DU RALLYE DES GAZELLES </p>
                        <a aria-label="Accéder à notre studio de production - Académie WS" class="font-weight-bold btn btn-outline-info text-info" href="" role="button">NOTRE STUDIO DE PRODUCTION</a>
                    </div>
                </div>

            </div>

            <div class="row mx-auto px-0 py-5 py-md-0">

                <div class="row col-md-10 mx-auto">

                    <div class="d-flex flex-column col-12 col-md-6 align-items-end justify-content-center realisation-presentation mb-3 mb-md-0">
                        <div class="text-primary">FILM INSTITUTIONNEL</div>
                        <h3>Les conséquences du Covid 19 sur notre économie</h3>
                        <p class="font-weight-bold colorGrey"> DÉCOUVREZ LES CONSÉQUENCES DU COVID 19 SUR NOTRE ÉCONOMIE </p>
                        <a aria-label="Accéder à notre studio de production - Académie WS" class="font-weight-bold btn btn-outline-info text-info" href="" role="button">NOTRE STUDIO DE PRODUCTION</a>
                    </div>

                    <div class="col-12 col-md-6 layout-iframe">
                        <iframe src="https://player.vimeo.com/video/796617387?h=d0e9aeac8a" width="100%" height="564" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                    </div>

                </div>

            </div>


        </div>
    </div>

    <section class="section bg-secondary-dark text-center py-5">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-6 col-lg-3">
                    <div class="row ">
                        <div class="col-5 text-right text-light border-right py-3">
                            <div class="m-auto"><i class="fa-solid fa-video icon-xl"></i></div>
                        </div>
                        <div class="col-7 text-left py-3">
                            <h1 class="text-danger font-weight-bold font40">+30</h1>
                            <p class="text-light mb-1">Modules disponibles</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="row">
                        <div class="col-5 text-right text-light border-right py-3">
                            <div class="m-auto"><i class="fa-regular fa-clock icon-xl"></i></div>
                        </div>
                        <div class="col-7 text-left py-3">
                            <h1 class="text-danger font-weight-bold font40">+1000</h1>
                            <p class="text-light mb-1">Heures de vidéo</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="row">
                        <div class="col-5 text-right text-light border-right py-3">
                            <div class="m-auto"><i class="fa-solid fa-fingerprint icon-xl"></i></div>
                        </div>
                        <div class="col-7 text-left py-3">
                            <h1 class="text-danger font-weight-bold font40">+8</h1>
                            <p class="text-light mb-1">ans d'expérience</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="row">
                        <div class="col-5 text-right text-light border-right py-3">
                            <div class="m-auto"><i class="fa-solid fa-graduation-cap icon-xl"></i></div>
                        </div>
                        <div class="col-7 text-left py-3">
                            <h1 class="text-danger font-weight-bold font40">+10k</h1>
                            <p class="text-light mb-1">Etudiants satisfaits</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section py-5">

        <div class="container-fluid px-0">
            <div class="container">
                <h2 class="mb-5 pb-4"><span class="text-danger">Nos</span> dernières vidéos YouTube</h2>
            </div>
            <div class="container mx-auto row videos">
                <div class="col-md-4 col-sm-6 mb-5">
                    <iframe class="latestVideoEmbed" style="height:230px;width:100%" vnum='0' frameborder="0" allowfullscreen></iframe>
                </div>
                                                            
                <div class="col-md-4 col-sm-6 mb-5">
                    <iframe class="latestVideoEmbed" style="height:230px;width:100%" vnum='1' frameborder="0" allowfullscreen></iframe>
                </div>
                                                            
                <div class="col-md-4 col-sm-6 mb-5">
                    <iframe class="latestVideoEmbed" style="height:230px;width:100%" vnum='2' frameborder="0" allowfullscreen></iframe>
                </div>

                <div class="col-md-4 col-sm-6 mb-5">
                    <iframe class="latestVideoEmbed" style="height:230px;width:100%" vnum='3' frameborder="0" allowfullscreen></iframe>
                </div>
                                                            
                <div class="col-md-4 col-sm-6 mb-5">
                    <iframe class="latestVideoEmbed" style="height:230px;width:100%" vnum='4' frameborder="0" allowfullscreen></iframe>
                </div>
                                                            
                <div class="col-md-4 col-sm-6 mb-5">
                    <iframe class="latestVideoEmbed" style="height:230px;width:100%" vnum='5' frameborder="0" allowfullscreen></iframe>
                </div>

                <div class="d-flex justify-content-center">
                <a class="text-light smallBorderRadius btn btn-secondary mt-5 d-flex align-items-center" href=""><i class="far fa-play-circle me-2"></i>Accéder au cours</a>                
            </div>
            </div>


        </div>



    </section>

{% endblock %}
