{% extends 'base.html.twig' %}

{% block meta_description %} Ce site est édité par {{company_name}}, plateforme de formation en ligne dans l'univers du digital. {% endblock %}
{% block title %}Nos mentions légales {{parent()}}{% endblock %}

{% block body %}

<div class="row mx-auto justify-content-center">
    <div class="col-md-6 py-5" id="legal-mentions">

    <p class="font-weight-bold"> Dernière mise à jour le jeudi 9 Juin 2022</p>

    <h2>Mentions Légales</h2>

    <p> La société {{company_name}} est une {{forme_juridique_capital_social}} immatriculée au RCS de {{ville}} sous le n. {{siren}} et dont le siège social est situé au {{company_address}}, France (N° TVA intracommunautaire : {{num_tva}}). 
    <p> {{company_name}} est représentée par Mr. {{gerant}}, son gérant.

    <p> {{company_name}} est un établissement privé d’enseignement à distance qui fournit des prestations de formations en ligne et en présentiel.<br/>
    Le site est hébergé par OVH dont l’adresse est la suivante :  2, rue Kellermann, 59100 Roubaix. France.</p>

    <p class="font-weight-bold"> Pour nous contacter </p>

    <p><b> Par téléphone</b> : {{phone_number}} <br/>
    <b>Par email</b> : {{mail_address}}<br/>
    <b>Par courrier</b> : {{company_name}}, {{company_address}}, France</p>
    <b>Notre blog</b> : <a target="_blank" aria-label="Retrpuvez la réponse numérique notre blog officiel - {{company_name}}" href="https://www.lareponsenumerique.fr/"> www.lareponsenumerique.fr </a> </p>
    <p>Vous bénéficiez d’un droit d’accès et de rectification aux informations qui vous concernent, que vous pouvez exercer par courrier à l'adresse suivante : {{company_name}} - Protection des données {{company_address}} France.<br/>
    Vous pouvez également vous opposer au traitement des données vous concernant.</p>

    <p>Pour plus d’informations sur tous vos droits vous pouvez consulter notre Politique de Protection des Données Personnelles.</p>

    </div>
</div>
{% endblock %}
