{% extends 'base.html.twig' %}

{% block meta_description %} La Formation WS est une société spécialisée dans le placement de formateur dans l'univers du digital. {% endblock %}
{% block title %}Qui sommes-nous? {{parent()}}{% endblock %}

{% block body %}

<div class="row bg-secondary" id="about-us">

    <div class="col-md-6 p-5">

        <h1 class="text-white text-left">
            <span class="backGroundColorBlueDark p-2" id="catch_phrase_1">
                <span>&#160 Qui sommes-nous? &#160 </span>
            </span>
        </h1>

        <p class="text-white"> La Formation WS est une plateforme de formations vidéo en ligne comptant 100 000 étudiants connectés chaque années à travers le monde. Notre objectif, vous transmettre les concepts clefs des technologies
        les plus demandées sur le marché, sans bla-bla !
        </p>

    </div>

</div>

<div class="row mb-5">

		<div class="row col-md-8 mx-auto mt-5 align-items-center">
                    <iframe src="https://player.vimeo.com/video/835006242?h=1b1d19f4e7" width="100%" height="564" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
        </div>

		<div class="row col-md-8 mx-auto my-5 align-items-center">

			<div class="col-md-6 d-flex order-2 order-sm-1">
				<img style="max-height:250px" src="{{ asset('build/who_we_are/1.webp')}}" title="Un apprentissage différent avec la Formation WS" alt="Un apprentissage différent avec la Formation WS">
			</div>

			<div class="col-md-6 order-1 order-sm-2">
				<div class="my-3 text-primary">ZERO BLA-BLA !</div>
				<h3>Un apprentissage différent</h3>
				<p class="text-justify">Parceque l'on est tous un jour parti de zéro, chez la Formation WS on veut vous faire gagner en se concentrant sur les concepts clés ! Notre objectif? Vous rendre autonome le plus rapidement possible.</p>
                <a aria-label="Nos thèmes - Formation WS" href="{{path('app_themes')}}" class="btn btn-secondary" style="color:white !important">Nos parcours pédagogiques</a>
            </div>
		</div>

        <div class="row col-md-8 mx-auto my-5 align-items-center">
			<div class="col-md-6">
				<div class="my-3 text-primary">AUGMENTER VOTRE EMPLOYABILITÉ</div>
				<h3>De nombreuses opportunités vous attendent !</h3>
				<p class="text-justify">Parceque nous sommes constamment en contact avec les acteurs clés du marché, nous mettons tout en oeuvre pour vous transmettre les compétences qui correspondent aux dernières demande actuelles des métiers du digitales ! D'ailleurs, nous aussi on recrute !</p>
                <a aria-label="Nous contacter - Formation WS" href="{{ path('app_contact') }}" class="btn btn-secondary" style="color:white !important">Présenter son profil</a>
            </div>

			<div class="col-md-6 d-flex justify-content-end">
				<img style="max-height:250px" src="{{ asset('build/who_we_are/2.webp')}}" title="Augmenter votre employabilité avec la Formation WS" alt="Augmenter votre employabilité avec la Formation WS">
			</div>
		</div>

        <div class="row col-md-8 mx-auto my-5 align-items-center  mb-5">

			<div class="col-md-6 d-flex order-2 order-sm-1">
				<img style="max-height:250px" src="{{ asset('build/who_we_are/3.webp')}}" title="Accès illimité à la Formation WS" alt="Accès illimité à la Formation WS">
			</div>

			<div class="col-md-6 order-1 order-sm-2">
				<div class="my-3 text-primary">ACCÈS ILLIMITÉ A PETIT BUDGET</div>
				<h3>Développez des compétences transversalles</h3>
				<p class="text-justify">Nous savons qu'aujourd'hui, la polylavence fait loi dans le marché du travail c'est pourquoi nous vous proposerons toujours un prix fixe pour accéder à l'ensemble de nos vidéos, fini l'époque ou il faut sortir la carte bleu tout le temps !</p>
                <a aria-label="Accéder à nos cours - Formation WS" href="{{ path('app_elearning') }}" class="btn btn-secondary" style="color:white !important">Découvrir nos cours</a>
            </div>
		</div>

</div>

    <div class="row justify-content-center flex-column align-items-center bg-secondary mt-5">
        
        <img class="mb-5" style="margin-top:-50px; width:200px" src="{{ asset('build/samih.png')}}" title="Samih Habbani" alt="Samih Habbani">

        <div class="col-md-6 pb-5 pt-0">
            <h1 class="text-light text-center mb-5">
                <span class="backGroundColorBlueDark bg-info">
                    <span>&#160 Vous aimez les annecdotes? &#160</span>
                </span>
            </h1>

            <p class="text-white text-justify"> <b> La Formation WS c'est avant tout une histoire de famille et de passionnés ! </b> <br/> L'entreprise né en 2020 d'abord pour placer des formateurs dans les centres de formation et écoles du digital en France, sous la direction de Habby Habbani (gérante et avocate de profession) et Samih Habbani (associé, développeur full stack). </p>
            <p class="text-white text-justify"> Samih Habbani, alors formateur dans des thématiques surtout liées à la programmation fait un constat très rapide : souvent les programmes dans les écoles sont intenses, et démarrer de zéro quand on veut par exemple devenir développeur full-stack, ce n'est pas une mince affaire ! Constamment au contact des étudiants, il se dit 'et si je pouvais faire un peu plus et garder contact avec mes élèves, et leur permettre finalement de me garder sous format vidéo pour revoir certains concepts vus en classe qui n'auraient pas été entièrrement maitrisés ! Finalement, le concept existait déjà vous me direz, effectivement, mais notre plus value vient surtout de la façon avec laquelle nous transmettons ces connaissances !</p>
            <p class="text-white text-justify"> <b> Notre expertise vient de notre expérience </b> : Samih Habbani, aujourd'hui encore formateur en programmation, a ce que l'on appel un double profil, il est développeur mais c'est une école de commerce qu'il a fait à la base. Il est lui même passé par une formation intensive et connait parfaitement les problématiques rencontrées lorsque l'on débute et toute la frustration qui s'y accompagne. Et c'est la que nous intervenons ! </p>
            <p class="text-white text-justify"> Notre objectif chez la Formation WS, <b> c'est rendre accessible et simple des concepts complexes en les vulgarisant </b>, et surtout en se concontrant sur les concepts clés ! Nous nous accompagnons alors de formateurs expérimentés pour décortiquer chaque thématique en chapitres clairs et concis. </p>
            <p class="text-white text-justify"> En regardant nos vidéos, et ce peu importe le sujet, vous apprendrez tout ce dont vous avez besoin de savoir pour maitriser une technologie, que vous soyez expérimenté ou non !</p>
            <p class="text-white text-justify"> FINI LE BLA-BLA, les vidéos longues et abstraites, ici que du concret ! </p>

        </div>

    </div>

{% endblock %}
