{% extends 'base.html.twig' %}

{% block title %}Mission{% endblock %}

{% block body %}
    <h1>Mission</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ mission.id }}</td>
            </tr>
            <tr>
                <th>School</th>
                <td>{{ mission.school }}</td>
            </tr>
            <tr>
                <th>Course</th>
                <td>{{ mission.course }}</td>
            </tr>
            <tr>
                <th>StartTime</th>
                <td>{{ mission.startTime }}</td>
            </tr>
            <tr>
                <th>ScheduleTime</th>
                <td>{{ mission.scheduleTime }}</td>
            </tr>
            <tr>
                <th>Hours</th>
                <td>{{ mission.hours }}</td>
            </tr>
            <tr>
                <th>PersonInCharge</th>
                <td>{{ mission.personInCharge }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ mission.address }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ mission.city }}</td>
            </tr>
            <tr>
                <th>PostalCode</th>
                <td>{{ mission.postalCode }}</td>
            </tr>
            <tr>
                <th>Intervention</th>
                <td>{{ mission.intervention }}</td>
            </tr>
            <tr>
                <th>MissionReference</th>
                <td>{{ mission.missionReference }}</td>
            </tr>
            <tr>
                <th>Remuneration</th>
                <td>{{ mission.remuneration }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_mission_index') }}">back to list</a>

    <a href="{{ path('app_mission_edit', {'id': mission.id}) }}">edit</a>

    {{ include('mission/_delete_form.html.twig') }}
{% endblock %}
