{% extends 'base.html.twig' %}

{% block meta_description %}
	Transmettez à vos apprenants les concepts clés en HTML5 avec nos formateurs
{% endblock %}

{% block title %}
	Nos formateurs en HTML5
	{{parent()}}
{% endblock %}

{% block body %}

	<div class="row" id="courseDetails" style="background:linear-gradient(0deg,#31092a,#0e0331)">

		<div class="col-md-12 mx-auto row py-5" style="background:linear-gradient(0deg,#31092a,#0e0331)">

			<div class="col-md-12">
				<h1 class="text-center text-white">
					INTITULÉ DU JOB
				</h1>
				<h2 class="text-center text-primary fw400">
					COMPÉTENCES DU JOB ET OBJECTIFS
				</h2>
			</div>

			<div class="col-md-12">
				<p class="text-center text-white">
					EN REMOTE
					<span class="text-primary">//</span>
					SOUS CONTRAT
					<span class="text-primary">//</span>
					CHEZ LE CLIENT
					<span class="text-primary">//</span>
					PAIEMENT EN FIN DE MOIS</p>
			</div>

			<div class="col-md-12 d-flex justify-content-center align-items-center mt-5">
                <button class="btn btn-outline-primary text-light py-2 smallBorderRadius" data-bs-toggle="modal" data-bs-target="#article-social-networks"><i class="fa-solid fa-share me-2"></i> PARTAGER LA MISSION </button>
				<a class="ms-3 text-light smallBorderRadius colorWhite btn btn-outline-secondary pull-right py-2 d-flex align-items-center" href="{{path('app_jobs_application', {id : 1})}}">
					<i class="far fa-play-circle me-2"></i>Accepter la mission</a>
			</div>

		</div>


		<div class=" col-md-12 white d-flex justify-content-center py-5">

			<div class="col-12 col-md-8 row">
				<div class="col-12 col-md-6">
					<h2 class="text-light">
						Description du poste !</h2>
					<p class="text-light">
						Vous êtes sur le point d'entrer en formation et vous ne savez pas comment vous préparer? Vous ne savez pas par où commencer? Ces vidéos sont faites pour vous !</p>
					<p class="text-light">
						Développez grâce à ces vidéos le bon mindset pour réussir au mieux votre formation. Vous aurez besoin principalement de trois choses : un bon état d'esprit, une bonne culture web générale et les outils nécessaires pour atteindre vos objectifs.</p>
					<p class="text-light">
						C'est parce que notre équipe est constamment sur le terrain auprès de nos apprenants que ces vidéos ont été développées.
					</p>
					<p class="text-light">
						Que vous soyez expérimenté ou non, ces vidéos renforceront votre aptitude à apprendre de manière intensive des concepts complexes pour atteindre vos objectifs !</p>
				</div>
				<div class="col-12 col-md-6 row justify-content-end my-5 my-md-0">
					<div class="icon-box col-md-10 bg-grey-light py-4 px-3 d-flex flex-column justify-content-between form-shadow smallBorderRadius">

						<ul class="d-flex h-100 flex-column justify-content-between">
							<li class="d-flex align-items-center text-dark my-2 my-md-0">
								<i class="fa-solid fa-suitcase"></i>
								SOUS CONTRAT
							</li>
							<li class="d-flex align-items-center text-dark my-2 my-md-0">
								<i class="fa-solid fa-money-bill"></i>
								200-350€
							</li>
							<li class="d-flex align-items-center text-dark my-2 my-md-0">
								<i class="fa-solid fa-location-dot"></i>
								ON REMOTE
							</li>
							<li class="d-flex align-items-center text-dark my-2 my-md-0">
								<i class="fa-solid fa-calendar-xmark"></i>
								POUR LE MOIS DE FÉVRIER 2023
							</li>
							<li class="d-flex align-items-center text-dark my-2 my-md-0">
								<i class="fa-solid fa-clock"></i>
								9h00 - 12h30 / 13h30 - 17h00
							</li>
						</ul>

					</div>
				</div>

				<div class="col-md-12 d-flex align-items-center justify-content-center mt-5">
                    <button class="btn btn-outline-primary text-light py-2 smallBorderRadius" data-bs-toggle="modal" data-bs-target="#article-social-networks"><i class="fa-solid fa-share me-2"></i> PARTAGER LA MISSION </button>
                    <a class="ms-3 text-light smallBorderRadius colorWhite btn btn-outline-secondary pull-right border-radius-btn d-flex align-items-center" href="{{path('app_jobs_application', {id : 1})}}">
                            <i class="far fa-play-circle me-2"></i>Accepter la mission</a>
				</div>

			</div>

		</div>

		<div class="col-md-12 d-flex justify-content-center py-5">

			<div class="col-md-6">
				<div class="text-with-gradient text-center pB-5 relative">
					&lt; NOTRE PÉDAGOGIE /&gt;
				</div>

				<h2 class="text-center text-light mt-3">
					BIENVENUE CHEZ FORMATION WS
				</h2>
				<iframe src="https://player.vimeo.com/video/796631243?h=92f039be20" width="100%" height="564" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
			</div>

		</div>


		<div class=" col-md-12 py-5 white" id="finalObjectives">

			<div class="offset-md-3 col-md-8 d-flex flex-column">
				<h4 class="mb-4 text-light">
					<i class="fa-solid fa-bullseye me-3"></i>
					Vos principales missions :
				</h4>
				<p class="text-light">
					Vous concevrez et développerez des applicatifs logiciels en mode projet, de la phase d’étude à la recette finale, dans le cadre d’une refonte importante de notre logiciel d’acquisition de données.</p>
				<ul>
					<li class="text-light">
						<i class="fas fa-check mx-3 text-light"></i>
						Préparer votre entrée en formation
					</li>
					<li class="text-light my-2">
						<i class="fas fa-check mx-3 text-light"></i>
						Développer votre culture digitale
					</li>
					<li class="text-light">
						<i class="fas fa-check mx-3 text-light"></i>
						Installer votre environment de travail</li>
				</ul>
			</div>

		</div>

		<div class="bg-secondary-dark col-md-12 py-5" id="process">

			<div class="offset-md-3 col-md-8 d-flex flex-column">
				<h4 class="mb-4 text-light">
					<i class="fa-solid fa-user-tie me-3"></i>
					Profil recherché :
				</h4>
				<p class="text-light">
					D’une formation BAC+2 en informatique a minima, vous justifiez d’une solide expérience dans le développement d’applications Web dans un environnement Microsoft .Net et idéalement de bonnes notions en automatisme ou informatique industrielle.
				</p>
				<ul class="text-light">
					<li class="my-2">
						<i class="fas fa-check mx-3"></i>
						Comprendre le système de Grid de Bootstrap</li>
					<li class="my-2">
						<i class="fas fa-check mx-3"></i>
						Gérer la technologie flex box avec Bootstrap</li>
					<li>
						<i class="fas fa-check mx-3"></i>
						Gérer le responsive web design de vos pages web avec les classes Bootstrap</li>
					<li class="my-2">
						<i class="fas fa-check mx-3"></i>
						Maitriser les composants principaux du framework</li>
					<li class="my-2">
						<i class="fas fa-check mx-3"></i>
						Maitriser les classes principales du framework</li>
					<li class="my-2">
						<i class="fas fa-check mx-3"></i>
						Gérer facilement les marges internes et externes avec les classes Bootstrap</li>
					<li class="my-2">
						<i class="fas fa-check mx-3"></i>
						Et plus encore!</li>
				</ul>


				<h5 class="mt-4 fw600 font-italic text-light">
					Notre équipe de formateurs décortique chaque sujet pour vous offrir des formations ludiques et intéractives, facil d'accès.
				</h5>
			</div>

		</div>

		<div class=" col-md-12 py-5 white" id="public">

			<div class="offset-md-3 col-md-8 d-flex flex-column">
				<h4 class="mb-4 text-light">
					Informations :
				</h4>
				<ul class="text-light">
					<li class="my-2">
						<i class="fas fa-check-circle mx-3"></i>Toute personne souhaitant démarrer une carrière d'intégrateur web ou développeur web front</li>
					<li class="my-2">
						<i class="fas fa-check-circle mx-3"></i>Toute personne souhaitant acquérir de bonnes bases en Bootstrap</li>
					<li class="my-2">
						<i class="fas fa-check-circle mx-3"></i>Toute personnes familière avec les langages de programmation ou l'univers du web</li>
					<li class="my-2">
						<i class="fas fa-check-circle mx-3"></i>Toute personne en recherche de bonnes pratiques</li>
					<li class="my-2">
						<i class="fas fa-check-circle mx-3"></i>Toute personne voulant vérifier ses acquis ou se mettre à jour avec les versions actuelles</li>
					<li class="my-2">
						<i class="fas fa-check-circle mx-3"></i>Toute personne voulant créer des sites web rapidement et facilement maintenable</li>
				</ul>
			</div>

		</div>


        <section class="bg-secondary-dark justify-content-center align-items-center flex-column relative pb-5">


            <div class="text-with-gradient text-center py-5 relative">
                &lt; COLLABORONS ENSEMBLE /&gt;
            </div>

            <h2 class="text-center text-light">
                LES AVANTAGES POUR CE POSTE
            </h2>


            <div class="row mx-auto col-md-10 p-3">

                <div class="col-md-3 p-3">
                    <div class="bg-none card p-4 form-shadow align-items-center">
                        <a aria-label="Développement Front End - Académie WS" class="pb-3" href="/categories/1">
                            <svg class="svg-inline--fa fa-user-plus text-light icon-xl" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="user-plus" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 640 512" data-fa-i2svg="">
                                <path fill="currentColor" d="M96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3zM504 312V248H440c-13.3 0-24-10.7-24-24s10.7-24 24-24h64V136c0-13.3 10.7-24 24-24s24 10.7 24 24v64h64c13.3 0 24 10.7 24 24s-10.7 24-24 24H552v64c0 13.3-10.7 24-24 24s-24-10.7-24-24z"></path>
                            </svg>
                            <!-- <i class="text-light fa-solid fa-user-plus icon-xl"></i> Font Awesome fontawesome.com -->
                        </a>

                        <div class="card-body p-0">

                            <a aria-label="Développement Front End - Académie WS" href="">
                                <h5 class="card-title fw-bold text-light">Développement Front End</h5>
                                <p class="card-text text-info text-justify">Découvrez les technologies front-end les plus demandées du marché et créez vos premières pages web!</p>
                            </a>
                        </div>
                    </div>

                </div>

                <div class="col-md-3 p-3">
                    <div class="bg-none card p-4 form-shadow align-items-center">
                        <a aria-label="Développement Front End - Académie WS" class="pb-3" href="/categories/1">
                            <svg class="svg-inline--fa fa-user-plus text-light icon-xl" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="user-plus" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 640 512" data-fa-i2svg="">
                                <path fill="currentColor" d="M96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3zM504 312V248H440c-13.3 0-24-10.7-24-24s10.7-24 24-24h64V136c0-13.3 10.7-24 24-24s24 10.7 24 24v64h64c13.3 0 24 10.7 24 24s-10.7 24-24 24H552v64c0 13.3-10.7 24-24 24s-24-10.7-24-24z"></path>
                            </svg>
                            <!-- <i class="text-light fa-solid fa-user-plus icon-xl"></i> Font Awesome fontawesome.com -->
                        </a>

                        <div class="card-body p-0">

                            <a aria-label="Développement Front End - Académie WS" href="">
                                <h5 class="card-title fw-bold text-light">Développement Front End</h5>
                                <p class="card-text text-info text-justify">Découvrez les technologies front-end les plus demandées du marché et créez vos premières pages web!</p>
                            </a>
                        </div>
                    </div>

                </div>

                <div class="col-md-3 p-3">
                    <div class="bg-none card p-4 form-shadow align-items-center">
                        <a aria-label="Développement Front End - Académie WS" class="pb-3" href="/categories/1">
                            <svg class="svg-inline--fa fa-user-plus text-light icon-xl" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="user-plus" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 640 512" data-fa-i2svg="">
                                <path fill="currentColor" d="M96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3zM504 312V248H440c-13.3 0-24-10.7-24-24s10.7-24 24-24h64V136c0-13.3 10.7-24 24-24s24 10.7 24 24v64h64c13.3 0 24 10.7 24 24s-10.7 24-24 24H552v64c0 13.3-10.7 24-24 24s-24-10.7-24-24z"></path>
                            </svg>
                            <!-- <i class="text-light fa-solid fa-user-plus icon-xl"></i> Font Awesome fontawesome.com -->
                        </a>

                        <div class="card-body p-0">

                            <a aria-label="Développement Front End - Académie WS" href="">
                                <h5 class="card-title fw-bold text-light">Développement Front End</h5>
                                <p class="card-text text-info text-justify">Découvrez les technologies front-end les plus demandées du marché et créez vos premières pages web!</p>
                            </a>
                        </div>
                    </div>

                </div>

                <div class="col-md-3 p-3">
                    <div class="bg-none card p-4 form-shadow align-items-center">
                        <a aria-label="Développement Front End - Académie WS" class="pb-3" href="/categories/1">
                            <svg class="svg-inline--fa fa-user-plus text-light icon-xl" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="user-plus" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 640 512" data-fa-i2svg="">
                                <path fill="currentColor" d="M96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3zM504 312V248H440c-13.3 0-24-10.7-24-24s10.7-24 24-24h64V136c0-13.3 10.7-24 24-24s24 10.7 24 24v64h64c13.3 0 24 10.7 24 24s-10.7 24-24 24H552v64c0 13.3-10.7 24-24 24s-24-10.7-24-24z"></path>
                            </svg>
                            <!-- <i class="text-light fa-solid fa-user-plus icon-xl"></i> Font Awesome fontawesome.com -->
                        </a>

                        <div class="card-body p-0">

                            <a aria-label="Développement Front End - Académie WS" href="">
                                <h5 class="card-title fw-bold text-light">Développement Front End</h5>
                                <p class="card-text text-info text-justify">Découvrez les technologies front-end les plus demandées du marché et créez vos premières pages web!</p>
                            </a>
                        </div>
                    </div>

                </div>


                <div class="col-md-3 p-3">
                    <div class="bg-none card p-4 form-shadow align-items-center">
                        <a aria-label="Développement Front End - Académie WS" class="pb-3" href="/categories/1">
                            <svg class="svg-inline--fa fa-user-plus text-light icon-xl" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="user-plus" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 640 512" data-fa-i2svg="">
                                <path fill="currentColor" d="M96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3zM504 312V248H440c-13.3 0-24-10.7-24-24s10.7-24 24-24h64V136c0-13.3 10.7-24 24-24s24 10.7 24 24v64h64c13.3 0 24 10.7 24 24s-10.7 24-24 24H552v64c0 13.3-10.7 24-24 24s-24-10.7-24-24z"></path>
                            </svg>
                            <!-- <i class="text-light fa-solid fa-user-plus icon-xl"></i> Font Awesome fontawesome.com -->
                        </a>

                        <div class="card-body p-0">

                            <a aria-label="Développement Front End - Académie WS" href="">
                                <h5 class="card-title fw-bold text-light">Développement Front End</h5>
                                <p class="card-text text-info text-justify">Découvrez les technologies front-end les plus demandées du marché et créez vos premières pages web!</p>
                            </a>
                        </div>
                    </div>

                </div>

                <div class="col-md-3 p-3">
                    <div class="bg-none card p-4 form-shadow align-items-center">
                        <a aria-label="Développement Front End - Académie WS" class="pb-3" href="/categories/1">
                            <svg class="svg-inline--fa fa-user-plus text-light icon-xl" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="user-plus" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 640 512" data-fa-i2svg="">
                                <path fill="currentColor" d="M96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3zM504 312V248H440c-13.3 0-24-10.7-24-24s10.7-24 24-24h64V136c0-13.3 10.7-24 24-24s24 10.7 24 24v64h64c13.3 0 24 10.7 24 24s-10.7 24-24 24H552v64c0 13.3-10.7 24-24 24s-24-10.7-24-24z"></path>
                            </svg>
                            <!-- <i class="text-light fa-solid fa-user-plus icon-xl"></i> Font Awesome fontawesome.com -->
                        </a>

                        <div class="card-body p-0">

                            <a aria-label="Développement Front End - Académie WS" href="">
                                <h5 class="card-title fw-bold text-light">Développement Front End</h5>
                                <p class="card-text text-info text-justify">Découvrez les technologies front-end les plus demandées du marché et créez vos premières pages web!</p>
                            </a>
                        </div>
                    </div>

                </div>

                <div class="col-md-3 p-3">
                    <div class="bg-none card p-4 form-shadow align-items-center">
                        <a aria-label="Développement Front End - Académie WS" class="pb-3" href="/categories/1">
                            <svg class="svg-inline--fa fa-user-plus text-light icon-xl" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="user-plus" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 640 512" data-fa-i2svg="">
                                <path fill="currentColor" d="M96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3zM504 312V248H440c-13.3 0-24-10.7-24-24s10.7-24 24-24h64V136c0-13.3 10.7-24 24-24s24 10.7 24 24v64h64c13.3 0 24 10.7 24 24s-10.7 24-24 24H552v64c0 13.3-10.7 24-24 24s-24-10.7-24-24z"></path>
                            </svg>
                            <!-- <i class="text-light fa-solid fa-user-plus icon-xl"></i> Font Awesome fontawesome.com -->
                        </a>

                        <div class="card-body p-0">

                            <a aria-label="Développement Front End - Académie WS" href="">
                                <h5 class="card-title fw-bold text-light">Développement Front End</h5>
                                <p class="card-text text-info text-justify">Découvrez les technologies front-end les plus demandées du marché et créez vos premières pages web!</p>
                            </a>
                        </div>
                    </div>

                </div>

                <div class="col-md-3 p-3">
                    <div class="bg-none card p-4 form-shadow align-items-center">
                        <a aria-label="Développement Front End - Académie WS" class="pb-3" href="/categories/1">
                            <svg class="svg-inline--fa fa-user-plus text-light icon-xl" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="user-plus" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 640 512" data-fa-i2svg="">
                                <path fill="currentColor" d="M96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3zM504 312V248H440c-13.3 0-24-10.7-24-24s10.7-24 24-24h64V136c0-13.3 10.7-24 24-24s24 10.7 24 24v64h64c13.3 0 24 10.7 24 24s-10.7 24-24 24H552v64c0 13.3-10.7 24-24 24s-24-10.7-24-24z"></path>
                            </svg>
                            <!-- <i class="text-light fa-solid fa-user-plus icon-xl"></i> Font Awesome fontawesome.com -->
                        </a>

                        <div class="card-body p-0">

                            <a aria-label="Développement Front End - Académie WS" href="">
                                <h5 class="card-title fw-bold text-light">Développement Front End</h5>
                                <p class="card-text text-info text-justify">Découvrez les technologies front-end les plus demandées du marché et créez vos premières pages web!</p>
                            </a>
                        </div>
                    </div>

                </div>

            </div>

        </section>

        {# OFFRE SIMILAIRES #}

        <section class="row mx-auto flex-column justify-content-center align-items-center py-5">

            <div class="text-with-gradient text-center pB-5 relative">
                &lt; POSTES SIMILAIRES /&gt; 
            </div>
            
            <h2 class="text-center text-light"> D'autres offres sont succeptibles de vous intéresser </h2>

            <div class="row mx-auto col-md-10 p-3">

                <div class="col-md-3 p-3">

                    <a href="{{ path('app_jobs_details', { id : 1}) }}">
                        <div class="course-card card form-shadow bg-secondary-dark p-3 smallBorderRadius">

                            <div class="d-flex flex-column justify-content-between mb-3">
                                <p class="text-light m-0 fw-bold"> Formateur en informatique H/F </p>
                                <p class="m-0 text-light smallSize fst-italic"><i class="fa-solid fa-location-dot me-1"></i> Paris </p>
                            </div>

                            <div class="mb-3">
                                <span class="btn btn-info p-0 px-1 m-1 smallSize fst-italic fw-bold"> 20 000€/an </span>
                                <span class="btn btn-info p-0 px-1 m-1 smallSize fst-italic fw-bold"> CDI </span>
                                <span class="btn btn-info p-0 px-1 m-1 smallSize fst-italic fw-bold"> Lundi au vendredi </span>
                            </div>
                            
                            <div class="card-body p-0">
                                <p class="text-light"><i class="text-primary fa-solid fa-share"></i> Posutler chez Formation WS </p>
                                <p class="card-text mb-3 text-info">Vraiment un très bon concept et bien élaboré</p>
                                
                                <span class="text-light smallSize fst-italic"> Offre publiée le 12 Sept 91 </span>
                            </div>

                        </div>                    
                    </a>                    
                </div>

                <div class="col-md-3 p-3">

                    <a href="{{ path('app_jobs_details', { id : 1}) }}">
                        <div class="course-card card form-shadow bg-secondary-dark p-3 smallBorderRadius">

                            <div class="d-flex flex-column justify-content-between mb-3">
                                <p class="text-light m-0 fw-bold"> Formateur en informatique H/F </p>
                                <p class="m-0 text-light smallSize fst-italic"><i class="fa-solid fa-location-dot me-1"></i> Paris </p>
                            </div>

                            <div class="mb-3">
                                <span class="btn btn-info p-0 px-1 m-1 smallSize fst-italic fw-bold"> 20 000€/an </span>
                                <span class="btn btn-info p-0 px-1 m-1 smallSize fst-italic fw-bold"> CDI </span>
                                <span class="btn btn-info p-0 px-1 m-1 smallSize fst-italic fw-bold"> Lundi au vendredi </span>
                            </div>
                            
                            <div class="card-body p-0">
                                <p class="text-light"><i class="text-primary fa-solid fa-share"></i> Posutler chez Formation WS </p>
                                <p class="card-text mb-3 text-info">Vraiment un très bon concept et bien élaboré</p>
                                
                                <span class="text-light smallSize fst-italic"> Offre publiée le 12 Sept 91 </span>
                            </div>

                        </div>                    
                    </a>                    
                </div>

                <div class="col-md-3 p-3">

                    <a href="{{ path('app_jobs_details', { id : 1}) }}">
                        <div class="course-card card form-shadow bg-secondary-dark p-3 smallBorderRadius">

                            <div class="d-flex flex-column justify-content-between mb-3">
                                <p class="text-light m-0 fw-bold"> Formateur en informatique H/F </p>
                                <p class="m-0 text-light smallSize fst-italic"><i class="fa-solid fa-location-dot me-1"></i> Paris </p>
                            </div>

                            <div class="mb-3">
                                <span class="btn btn-info p-0 px-1 m-1 smallSize fst-italic fw-bold"> 20 000€/an </span>
                                <span class="btn btn-info p-0 px-1 m-1 smallSize fst-italic fw-bold"> CDI </span>
                                <span class="btn btn-info p-0 px-1 m-1 smallSize fst-italic fw-bold"> Lundi au vendredi </span>
                            </div>
                            
                            <div class="card-body p-0">
                                <p class="text-light"><i class="text-primary fa-solid fa-share"></i> Posutler chez Formation WS </p>
                                <p class="card-text mb-3 text-info">Vraiment un très bon concept et bien élaboré</p>
                                
                                <span class="text-light smallSize fst-italic"> Offre publiée le 12 Sept 91 </span>
                            </div>

                        </div>                    
                    </a>                    
                </div>

                <div class="col-md-3 p-3">

                    <a href="{{ path('app_jobs_details', { id : 1}) }}">
                        <div class="course-card card form-shadow bg-secondary-dark p-3 smallBorderRadius">

                            <div class="d-flex flex-column justify-content-between mb-3">
                                <p class="text-light m-0 fw-bold"> Formateur en informatique H/F </p>
                                <p class="m-0 text-light smallSize fst-italic"><i class="fa-solid fa-location-dot me-1"></i> Paris </p>
                            </div>

                            <div class="mb-3">
                                <span class="btn btn-info p-0 px-1 m-1 smallSize fst-italic fw-bold"> 20 000€/an </span>
                                <span class="btn btn-info p-0 px-1 m-1 smallSize fst-italic fw-bold"> CDI </span>
                                <span class="btn btn-info p-0 px-1 m-1 smallSize fst-italic fw-bold"> Lundi au vendredi </span>
                            </div>
                            
                            <div class="card-body p-0">
                                <p class="text-light"><i class="text-primary fa-solid fa-share"></i> Posutler chez Formation WS </p>
                                <p class="card-text mb-3 text-info">Vraiment un très bon concept et bien élaboré</p>
                                
                                <span class="text-light smallSize fst-italic"> Offre publiée le 12 Sept 91 </span>
                            </div>

                        </div>                    
                    </a>                    
                </div>

            </div>

        </section>

        {# NEWSLETTER #}

        <div class="row mx-auto py-5 px-5 bg-secondary-dark" id="newsletter">

            <div class="col-md-8">
                <h2 class="text-light pt-5 pb-3"> Recevez par email les dernières offres </h2>
                    <form method="POST">
                        <div class="d-flex pb-3">
                            <input type="text" placeholder="Entrez votre adresse email" class="col-8 newsletter text-light px-5 py-3" name="newsletter" >
                            <input class="text-light px-3 bg-info" type="submit" value="JE M'INSCRIS">
                        </div>
                        <div class="d-flex pb-3">
                            <div class="mx-3">
                                <input type="radio" id="test1" value="1" name="frequence" checked>
                                <label class="text-light" for="test1">Chaque matin</label>
                            </div>
                            <div class="mx-3">
                                <input type="radio" id="test2" value="2" name="frequence">
                                <label class="text-light" for="test2">Chaque semaine</label>
                            </div>
                        </div>

                        <p class="col-12 col-md-7 text-light fst-italic"> En cliquant sur "S'inscrire", vous acceptez les CGU ainsi que notre politique de confidentialité décrivant la finalité des traitements de vos données personnelles. </p>

                    </form>

            </div>

            <div class="d-flex col-md-4 align-items-end illustration-part">
                <img alt="Abonnez-vous à la newsletter de la réponse numérique" title="Newsletter de la réponse numérique" class="w-100" src="{{ asset('build/newsletter.webp') }}">
            </div>

        </div>

	</div>

    {# PARTAGER L'OFFRE D'EMPLOI #}

    <div class="modal fade" id="article-social-networks" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
            <div class="modal-header bg-secondary">
                <h1 class="modal-title fs-5 text-light" id="exampleModalToggleLabel">Partager l'article</h1>
                <button type="button" class="btn-close btn-info" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-4 bg-secondary-dark">
                <ul class="d-flex justify-content-around"> 
                    <li>
                        <a aria-label="Partagez l'article intitulé '' sur Twitter." href="https://twitter.com/share?url=https://www.lareponsenumerique.fr/article/1&via=lareponsenumerique&text="
                        onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
                            target="_blank" title="Share on Twitter">
                            <i style="color:#1DA1F2;height:2rem" class="fa-brands fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a aria-label="Partagez l'article intitulé '' sur Linkedin." href="https://www.linkedin.com/shareArticle?mini=true&url=https://www.lareponsenumerique.fr/article/1"
                            onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
                            target="_blank" title="Share on Linkedin">  
                            <i style="color:#1DA1F2;height:2rem" class="px-2 fa-brands fa-linkedin"></i>
                        </a>
                    </li>
                    <li>
                        <a aria-label="Partagez l'article intitulé '' sur Facebook." href="https://www.facebook.com/sharer/sharer.php?u=https://www.lareponsenumerique.fr/article/1"
                            onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
                            target="_blank" title="Share on Facebook">                                    
                            <i style="color:#3b5998;height:2rem" class="fa-brands fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a aria-label="Partagez l'article intitulé '' par email." href="mailto:?subject=Académie WS - &amp;body=La Rubrique du numérique -  - https://www.lareponsenumerique.fr/1" title="Share by Email"
                            onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
                            target="_blank" title="Share by email">                                    
                            <i style="height:2rem" class="text-secondary fa-solid fa-envelope"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="d-flex px-3 pb-3 bg-secondary-dark">
                <input type="text" class="px-5 py-3 w-100" id="clipboard" value="https://www.academiews.fr/article/1" >
                <button aria-label="Copiez le lien de l'article intitulé '' sur Linkedin." class="text-light px-3 bg-secondary btn-clipboard">COPIER</button>
            </div>
            </div>
        </div>
    </div>


{% endblock %}
