{% extends 'base.html.twig' %}

{% block meta_description %}
	Devenez formateur en React JS
{% endblock %}

{% block title %}
	Formateur en React JS
	{{parent()}}
{% endblock %}

{% block body %}

	<div class="row" id="courseDetails" style="background:linear-gradient(0deg,#31092a,#0e0331)">

		<div class="col-md-12 mx-auto row py-5" style="background:linear-gradient(0deg,#31092a,#0e0331)">

			<div class="col-md-12">
				<h1 class="text-center text-white">
					{{ job.title }}
				</h1>
				<h2 class="text-center text-primary fw400">
					COMPÉTENCES DU JOB ET OBJECTIFS
				</h2>
			</div>

			<div class="col-md-12">
				<p class="text-center text-white">
					EN REMOTE
					<span class="text-primary">//</span>
					SOUS CONTRAT
					<span class="text-primary">//</span>
					CHEZ LE CLIENT
					<span class="text-primary">//</span>
					PAIEMENT EN FIN DE MOIS</p>
			</div>

			<div class="col-md-12 d-flex justify-content-center align-items-center mt-5">
                <button class="btn btn-outline-primary text-light py-2 smallBorderRadius" data-bs-toggle="modal" data-bs-target="#article-social-networks"><i class="fa-solid fa-share me-2"></i> PARTAGER LA MISSION </button>
				<a class="ms-3 text-light smallBorderRadius colorWhite btn btn-outline-secondary pull-right py-2 d-flex align-items-center" href="{{path('app_jobs_application', {id : job.id})}}">
					<i class="far fa-play-circle me-2"></i>Accepter la mission</a>
			</div>

		</div>


		<div class=" col-md-12 white d-flex justify-content-center py-5">

			<div class="col-12 col-md-8 row">
				<div class="col-12 col-md-6">
					<h2 class="text-light"> {{ job.titleDescription }} </h2>
                    {% for description in job.description %}
                        <p class="text-light"> {{ description }} </p>
                    {% endfor %}
				</div>
				<div class="col-12 col-md-6 row justify-content-end my-5 my-md-0">
					<div class="icon-box col-md-10 bg-grey-light py-4 px-3 d-flex flex-column justify-content-between form-shadow smallBorderRadius">

						<ul class="d-flex h-100 flex-column justify-content-between">
							<li class="d-flex align-items-center text-dark my-2 my-md-0">
								<i class="fa-solid fa-suitcase"></i>
								{{job.contract}}
							</li>
							<li class="d-flex align-items-center text-dark my-2 my-md-0">
								<i class="fa-solid fa-money-bill"></i>
								{{ job.salary }}€
							</li>
							<li class="d-flex align-items-center text-dark my-2 my-md-0">
								<i class="fa-solid fa-location-dot"></i>
								{{ job.location }}
							</li>
							<li class="d-flex align-items-center text-dark my-2 my-md-0">
								<i class="fa-solid fa-calendar-xmark"></i>
								{{ job.date |date("m/d/Y") }}
							</li>
							<li class="d-flex align-items-center text-dark my-2 my-md-0">
								<i class="fa-solid fa-clock"></i>
								{{ job.schedule }}
							</li>
						</ul>

					</div>
				</div>

				<div class="col-md-12 d-flex align-items-center justify-content-center mt-5">
                    <button class="btn btn-outline-primary text-light py-2 smallBorderRadius" data-bs-toggle="modal" data-bs-target="#article-social-networks"><i class="fa-solid fa-share me-2"></i> PARTAGER LA MISSION </button>
                    <a class="ms-3 text-light smallBorderRadius colorWhite btn btn-outline-secondary pull-right border-radius-btn d-flex align-items-center" href="{{path('app_jobs_application', {id : job.id})}}">
                            <i class="far fa-play-circle me-2"></i>Accepter la mission</a>
				</div>

			</div>

		</div>

		<div class="col-md-12 d-flex justify-content-center py-5">

			<div class="col-md-6">
				<div class="text-with-gradient text-center pB-5 relative">
					&lt; NOTRE PÉDAGOGIE /&gt;
				</div>

				<h2 class="text-center text-light mt-3">
					BIENVENUE CHEZ FORMATION WS
				</h2>
				<iframe src="https://player.vimeo.com/video/796631243?h=92f039be20" width="100%" height="564" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
			</div>

		</div>


		<div class=" col-md-12 py-5 white" id="finalObjectives">

			<div class="offset-md-3 col-md-8 d-flex flex-column">
				<h4 class="mb-4 text-light">
					<i class="fa-solid fa-bullseye me-3"></i>
					Vos principales missions :
				</h4>
				<p class="text-light"> {{ job.missionDescription }} </p>
				<ul>

                    {% for mission in job.mainMissions %}
                        <li class="text-light">
                            <i class="fas fa-check mx-3 text-light"></i>
                            {{ mission }}
                        </li>
                    {% endfor %}

				</ul>
			</div>

		</div>

		<div class="bg-secondary-dark col-md-12 py-5" id="process">

			<div class="offset-md-3 col-md-8 d-flex flex-column">
				<h4 class="mb-4 text-light">
					<i class="fa-solid fa-user-tie me-3"></i>
					Profil recherché :
				</h4>
				<p class="text-light"> {{ job.profileDescription }} </p>
				<ul class="text-light">
                    {% for requirement in job.profileRequirements %}
                        <li class="my-2">
                            <i class="fas fa-check mx-3"></i>
                            {{ requirement }}
                        </li>
                    {% endfor %}
				</ul>


				<h5 class="mt-4 fw600 font-italic text-light">
					Notre équipe de formateurs décortique chaque sujet pour vous offrir des formations ludiques et intéractives, facil d'accès.
				</h5>
			</div>

		</div>

		<div class=" col-md-12 py-5 white" id="public">

			<div class="offset-md-3 col-md-8 d-flex flex-column">
				<h4 class="mb-4 text-light">
					Informations :
				</h4>
				<ul class="text-light">
                    {% for information in job.informations %}
                        <li class="my-2">
                            <i class="fas fa-check-circle mx-3"></i>
                            {{ information }}
                        </li>
                    {% endfor %}
				</ul>
			</div>

		</div>


        <section class="bg-secondary-dark justify-content-center align-items-center flex-column relative pb-5">


            <div class="text-with-gradient text-center py-5 relative">
                &lt; COLLABORONS ENSEMBLE /&gt;
            </div>

            <h2 class="text-center text-light">
                LES AVANTAGES POUR CE POSTE
            </h2>


            <div class="row mx-auto col-md-10 p-3" id="job-advantage">

                {% for advantage in job.advantages %}
                    <div class="col-md-3 p-3">
                        <div class="bg-none card p-4 form-shadow align-items-center">
                            <a aria-label="Développement Front End - Académie WS" class="pb-3" href="/categories/1">
                                {{ advantage.logo | raw }}
                            </a>

                            <div class="card-body p-0">
                                <a aria-label="Développement Front End - Académie WS" href="">
                                    <h5 class="card-title fw-bold text-light text-center">{{ advantage.title }}</h5>
                                    <p class="card-text text-info text-center">{{ advantage.description }}</p>
                                </a>
                            </div>
                        </div>

                    </div>
                {% endfor %}

            </div>

        </section>

        {# OFFRE SIMILAIRES #}

        <section class="row mx-auto flex-column justify-content-center align-items-center py-5">

            <div class="text-with-gradient text-center pB-5 relative">
                &lt; POSTES SIMILAIRES /&gt; 
            </div>
            
            <h2 class="text-center text-light"> D'autres offres sont succeptibles de vous intéresser </h2>

            <div class="row mx-auto col-md-10 p-3">

                {% for relatedJob in relatedJobs %}
                    <div class="col-md-3 p-3">

                        <a href="{{ path('app_jobs_details', { id : relatedJob.id }) }}">
                            <div class="course-card card form-shadow bg-secondary-dark p-3 smallBorderRadius">

                                <div class="d-flex flex-column justify-content-between mb-3">
                                    <p class="text-light m-0 fw-bold"> {{ relatedJob.title  }} </p>
                                    <p class="m-0 text-light smallSize fst-italic"><i class="fa-solid fa-location-dot me-1"></i> {{ relatedJob.city  }} </p>
                                </div>

                                <div class="mb-3">
                                    <span class="btn btn-info p-0 px-1 m-1 smallSize fst-italic fw-bold"> {{ relatedJob.salary  }} </span>
                                    <span class="btn btn-info p-0 px-1 m-1 smallSize fst-italic fw-bold"> {{ relatedJob.contract  }} </span>
                                    <span class="btn btn-info p-0 px-1 m-1 smallSize fst-italic fw-bold"> {{ relatedJob.schedule  }} </span>
                                </div>
                                
                                <div class="card-body p-0">
                                    <p class="text-light"><i class="text-primary fa-solid fa-share"></i> Posutler chez Formation WS </p>
                                    <p class="card-text mb-3 text-info">Vraiment un très bon concept et bien élaboré</p>
                                    
                                    <span class="text-light smallSize fst-italic"> Offre publiée le {{ relatedJob.date | date("d-m-Y")  }} </span>
                                </div>

                            </div>                    
                        </a>                    
                    </div>
                {% endfor %}

            </div>

        </section>

        {# NEWSLETTER #}

        <div class="row mx-auto py-5 px-5 bg-secondary-dark" id="newsletter">

            <div class="col-md-8">
                <h2 class="text-light pt-5 pb-3"> Recevez par email les dernières offres </h2>
                    <form method="POST">
                        <div class="d-flex pb-3">
                            <input type="text" placeholder="Entrez votre adresse email" class="col-8 newsletter text-light px-5 py-3" name="newsletter" >
                            <input class="text-light px-3 bg-info" type="submit" value="JE M'INSCRIS">
                        </div>
                        <div class="d-flex pb-3">
                            <div class="mx-3">
                                <input type="radio" id="test1" value="1" name="frequence" checked>
                                <label class="text-light" for="test1">Chaque matin</label>
                            </div>
                            <div class="mx-3">
                                <input type="radio" id="test2" value="2" name="frequence">
                                <label class="text-light" for="test2">Chaque semaine</label>
                            </div>
                        </div>

                        <p class="col-12 col-md-7 text-light fst-italic"> En cliquant sur "S'inscrire", vous acceptez les CGU ainsi que notre politique de confidentialité décrivant la finalité des traitements de vos données personnelles. </p>

                    </form>

            </div>

            <div class="d-flex col-md-4 align-items-end illustration-part">
                <img alt="Abonnez-vous à la newsletter de la réponse numérique" title="Newsletter de la réponse numérique" class="w-100" src="{{ asset('build/newsletter.webp') }}">
            </div>

        </div>

	</div>

    {# PARTAGER L'OFFRE D'EMPLOI #}

    <div class="modal fade" id="article-social-networks" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
            <div class="modal-header bg-secondary">
                <h1 class="modal-title fs-5 text-light" id="exampleModalToggleLabel">Partager l'article</h1>
                <button type="button" class="btn-close btn-info" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-4 bg-secondary-dark">
                <ul class="d-flex justify-content-around"> 
                    <li>
                        <a aria-label="Partagez l'article intitulé '' sur Twitter." href="https://twitter.com/share?url=https://www.lareponsenumerique.fr/article/1&via=lareponsenumerique&text="
                        onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
                            target="_blank" title="Share on Twitter">
                            <i style="color:#1DA1F2;height:2rem" class="fa-brands fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a aria-label="Partagez l'article intitulé '' sur Linkedin." href="https://www.linkedin.com/shareArticle?mini=true&url=https://www.lareponsenumerique.fr/article/1"
                            onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
                            target="_blank" title="Share on Linkedin">  
                            <i style="color:#1DA1F2;height:2rem" class="px-2 fa-brands fa-linkedin"></i>
                        </a>
                    </li>
                    <li>
                        <a aria-label="Partagez l'article intitulé '' sur Facebook." href="https://www.facebook.com/sharer/sharer.php?u=https://www.lareponsenumerique.fr/article/1"
                            onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
                            target="_blank" title="Share on Facebook">                                    
                            <i style="color:#3b5998;height:2rem" class="fa-brands fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a aria-label="Partagez l'article intitulé '' par email." href="mailto:?subject=Académie WS - &amp;body=La Rubrique du numérique -  - https://www.lareponsenumerique.fr/1" title="Share by Email"
                            onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
                            target="_blank" title="Share by email">                                    
                            <i style="height:2rem" class="text-secondary fa-solid fa-envelope"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="d-flex px-3 pb-3 bg-secondary-dark">
                <input type="text" class="px-5 py-3 w-100" id="clipboard" value="https://www.academiews.fr/article/1" >
                <button aria-label="Copiez le lien de l'article intitulé '' sur Linkedin." class="text-light px-3 bg-secondary btn-clipboard">COPIER</button>
            </div>
            </div>
        </div>
    </div>


{% endblock %}
