{% extends 'base.html.twig' %}

{% block title %}Les jobs{% endblock %}

{% block body %}

    <div class="row justify-content-center ">        
        <div class="col-8 border mt-4 ">
            <h1 class="text-center">Les jobs</h1>
            <a href="{{ path('create_job') }}" class="btn btn-success"> CREER UN JOB </a>
            {% for job in listJobs %}

                <div class="article d-flex my-3">

                    <div class="d-flex flex-column ps-2">   
                        <h2>{{ job.title }}  </h2>
                        <p>Publié le: {{ job.publishedOn|date("d-m-y") }} </p>
                        <p>Actualisé le: {{ job.updatedOn|date("d-m-y") }} </p>
                        <p>Salaire: : {{ job.salary }} </p>
                        <p>Description du job: {{ job.description }} </p>
                        <p>Le job commence le: {{ job.startDate|date("d-m-y") }} et fini le: {{ job.endDate|date("d-m-y") }} </p>
                        <p>Horaires du job: {{ job.schedule }} </p>
                        <p>Entreprise: {{ job.company }} </p>
                        <p>Experience demandé: {{ job.experience }} </p>
                        <p>adresse du job: {{ job.adress }} - {{ job.postalCode }} - {{ job.city }}</p>
                        <p>Type d'élèves: {{ job.typeOfAudience }} </p>
                        <a href="{{ path('show_job_by_id', {id : job.id}) }}" class="btn btn-success"> VOIR LE JOB </a>
                    </div>

                </div>

            {% endfor %}

                <div>
                    {{ knp_pagination_render(listJobs) }}
                </div>           
        </div>
    </div>
{% endblock %}
