{% extends 'base.html.twig' %}

{% block meta_description %} Découvrez nos missions actuelles. {% endblock %}
{% block title %}Nos missions actuelles {{parent()}} {% endblock %}

{% block body %}

		<div class="col-md-12 mx-auto row py-5" style="background:linear-gradient(0deg,#31092a,#0e0331)">

			<div class="col-md-12">
				<h1 class="text-center text-white">
					NOS DERNIÈRES OFFRES
				</h1>
				<h2 class="text-center text-primary fw400">
					CHEZ FORMATION WS
				</h2>
			</div>

			<div class="col-md-12">
				<p class="text-center text-white">
					EN REMOTE
					<span class="text-primary">//</span>
					SOUS CONTRAT
					<span class="text-primary">//</span>
					CHEZ LE CLIENT
					<span class="text-primary">//</span>
					PAIEMENT EN FIN DE MOIS</p>
			</div>

			<div class="col-md-12 d-flex justify-content-center">
				<a href="{{path('find_teachers')}}" class="text-light smallBorderRadius colorWhite btn btn-outline-primary pull-right border-radius-btn mt-5 d-flex align-items-center">
					<i class="fa-solid fa-hand me-2"></i></i>PROPOSER UNE MISSION</a>
                <btn class="ms-3 text-light smallBorderRadius colorWhite btn btn-outline-primary pull-right border-radius-btn mt-5 d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#article-social-networks">
					<i class="fa-solid fa-share me-2"></i>Partager nos missions</btn>
				<a class="ms-3 text-light smallBorderRadius colorWhite btn btn-outline-secondary pull-right border-radius-btn mt-5 d-flex align-items-center" href="{{ path('teacher_opportunity') }}">
					<i class="far fa-play-circle me-2"></i>Candidature spontanée</a>
			</div>

		</div>

        <section class="bg-violet row mx-auto flex-column justify-content-center align-items-center py-5">

            <div class="text-with-gradient text-center pB-5 relative">
                &lt; NOS DERNIÈRES OFFRES /&gt; 
            </div>
            
            <h2 class="text-center text-light"> Sélectionnez l'offre qui vous ressemble </h2>

            <div class="row mx-auto col-md-10 p-3">


                {% for job in jobs %}
                    <div class="col-md-3 p-3">
                        <a href="{{ path('app_jobs_details', { id : job.id}) }}">
                            <div class="course-card card form-shadow bg-secondary-dark p-3 smallBorderRadius">

                                <div class="d-flex flex-column justify-content-between mb-3">
                                    <p class="text-light m-0 fw-bold"> {{job.title}} </p>
                                    <p class="m-0 text-light smallSize fst-italic"><i class="fa-solid fa-location-dot me-1"></i> {{job.city}} </p>
                                </div>

                                <div class="mb-3">
                                    <span class="btn btn-info p-0 px-1 m-1 smallSize fst-italic fw-bold"> {{job.salary}} </span>
                                    <span class="btn btn-info p-0 px-1 m-1 smallSize fst-italic fw-bold"> {{ job.contract }} </span>
                                    <span class="btn btn-info p-0 px-1 m-1 smallSize fst-italic fw-bold"> {{ job.schedule }} </span>
                                </div>
                                
                                <div class="card-body p-0">
                                    <p class="text-light"><i class="text-primary fa-solid fa-share"></i> Posutler chez Formation WS </p>
                                    <p class="card-text mb-3 text-info">{{ job.titleDescription }}</p>
                                    
                                    <span class="text-light smallSize fst-italic"> Offre publiée le {{ job.updatedAt |date("m/d/Y") }} </span>
                                </div>

                            </div>                    
                        </a>             
                    </div>
                {% endfor %}
            </div>

        </section>


        <div class="row mx-auto py-5 px-5 bg-secondary-dark" id="newsletter">

            <div class="col-md-8">
                <h2 class="text-light pt-5 pb-3"> Recevez par email les dernières offres </h2>
                    <form method="POST">
                        <div class="d-flex pb-3">
                            <input type="text" placeholder="Entrez votre adresse email" class="col-8 newsletter text-light px-5 py-3" name="newsletter" >
                            <input class="text-light px-3 bg-info" type="submit" value="JE M'INSCRIS">
                        </div>
                        <div class="d-flex pb-3">
                            <div class="mx-3">
                                <input type="radio" id="test1" value="1" name="frequence" checked>
                                <label class="text-light" for="test1">Chaque matin</label>
                            </div>
                            <div class="mx-3">
                                <input type="radio" id="test2" value="2" name="frequence">
                                <label class="text-light" for="test2">Chaque semaine</label>
                            </div>
                        </div>

                        <p class="col-12 col-md-7 text-light fst-italic"> En cliquant sur "S'inscrire", vous acceptez les CGU ainsi que notre politique de confidentialité décrivant la finalité des traitements de vos données personnelles. </p>

                    </form>

            </div>

            <div class="d-flex col-md-4 align-items-end illustration-part">
                <img alt="Abonnez-vous à la newsletter de la réponse numérique" title="Newsletter de la réponse numérique" class="w-100" src="{{ asset('build/newsletter.webp') }}">
            </div>

        </div>


    {# PARTAGER L'OFFRE D'EMPLOI #}

    <div class="modal fade" id="article-social-networks" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
            <div class="modal-header bg-secondary">
                <h1 class="modal-title fs-5 text-light" id="exampleModalToggleLabel">Partager nos missions</h1>
                <button type="button" class="btn-close btn-info" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-4 bg-secondary-dark">
                <ul class="d-flex justify-content-around"> 
                    <li>
                        <a aria-label="Partagez l'article intitulé '' sur Twitter." href="https://twitter.com/share?url={{site}}"
                        onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
                            target="_blank" title="Share on Twitter">
                            <i style="color:#1DA1F2;height:2rem" class="fa-brands fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a aria-label="Partagez l'article intitulé '' sur Linkedin." href="https://www.linkedin.com/shareArticle?mini=true&url={{site}}"
                            onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
                            target="_blank" title="Share on Linkedin">  
                            <i style="color:#1DA1F2;height:2rem" class="px-2 fa-brands fa-linkedin"></i>
                        </a>
                    </li>
                    <li>
                        <a aria-label="Partagez l'article intitulé '' sur Facebook." href="https://www.facebook.com/sharer/sharer.php?u={{site}}"
                            onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
                            target="_blank" title="Share on Facebook">                                    
                            <i style="color:#3b5998;height:2rem" class="fa-brands fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a aria-label="Partagez l'article intitulé '' par email." href="mailto:?subject=Formation WS - &amp;body=Formation WS -  - {{site}}" title="Share by Email"
                            onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
                            target="_blank" title="Share by email">                                    
                            <i style="height:2rem" class="text-secondary fa-solid fa-envelope"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="d-flex px-3 pb-3 bg-secondary-dark">
                <input type="text" class="px-5 py-3 w-100" id="clipboard" value="{{site}}" >
                <button aria-label="Copiez le lien de l'article intitulé '' sur Linkedin." class="text-light px-3 bg-secondary btn-clipboard">COPIER</button>
            </div>
            </div>
        </div>
    </div>

{% endblock %}
