{% extends 'base.html.twig' %}

{% block meta_description %} Découvrez nos chemins d'apprentissage en Développement front end pour comprendre la pédagogie autour de nos vidéos de formation. {% endblock %}

{% block title %}  DÉVELOPPEMENT FRONT END {{parent()}} {% endblock %}

{% block body %}

<div class="row justify-content-center" id="learningPathDetails">


    <div class="col-md-12 mx-auto row py-5" style="background:linear-gradient(0deg,#31092a,#0e0331)">

        <div class="col-md-12">
            <h1 class="text-center text-white"> DÉVELOPPEMENT FRONT END </h1>
            <h2 class="text-center text-primary fw400"> Dévelloper des applications web mobile  </h2>
        </div>

        <div class="col-md-12">
            <p class="text-center text-white"> JAVASCRIPT <span class="text-primary">//</span> REACT JS <span class="text-primary">//</span> HTML <span class="text-primary">//</span> CSS</p>
        </div>

        <div class="col-md-12 d-flex justify-content-center">
            <a class="text-light smallBorderRadius colorWhite btn btn-outline-secondary pull-right border-radius-btn mt-5 fw600 d-flex align-items-center" href="{{ path('find_teachers') }}">
            <i class="fa-solid fa-address-card me-2"></i>
            COMMANDER UN FORMATEUR</a>

            <a class="ms-3 text-light smallBorderRadius colorWhite btn btn-outline-primary pull-right border-radius-btn mt-5 fw600 d-flex align-items-center" href="{{ path('teacher_opportunity') }}">
            <i class="fa-solid fa-address-card me-2"></i>
            DEVENIR FORMATEUR</a>
        </div>

    </div>

	<div class="col-md-12 d-flex justify-content-center py-5 bg-secondary-dark">

        <div class="row mx-auto col-md-10 p-3">

            <div class="col-md-3 p-3">
                {# <a aria-label="Développement Front End - Académie WS" href="{{ path('app_courses_details', {id: 1}) }}">
                    </a> #}
                <div class="course-card card form-shadow bg-none">
                    <a aria-label="Développement Front End - Académie WS" href="{{ path('app_courses_details', {id: 1}) }}">
                        <img class="card-img-top smallBorderRadius" src="{{ asset('build/courses/html.png')}}" alt="Développement Front End" title="Développement Front End">
                    </a>
                    
                    <div class="card-body">
                    
                        <a aria-label="Développement Front End - Académie WS" href="">
                            <h5 class="card-title fw-bold text-light">HTML5</h5>
                            <p class="card-text mb-3 text-info">Découvrez les technologies front-end les plus demandées du marché et créez vos premières pages web!</p>
                        </a>
                        {# <a aria-label="Développement Front End - Académie WS" style="color:white !important" href="{{ path('app_courses_details', {id: 1}) }}" class="btn btn-primary">Accéder aux cours</a> #}
                    </div>
                </div>
            
            </div>

            <div class="col-md-3 p-3">
                {# <a aria-label="Développement Front End - Académie WS" href="{{ path('app_courses_details', {id: 1}) }}">
                    </a> #}
                <div class="course-card card form-shadow bg-none">
                    <a aria-label="Développement Front End - Académie WS" href="{{ path('app_courses_details', {id: 1}) }}">
                        <img class="card-img-top smallBorderRadius" src="{{ asset('build/courses/css.png')}}" alt="Développement Front End" title="Développement Front End">
                    </a>
                    
                    <div class="card-body">
                    
                        <a aria-label="Développement Front End - Académie WS" href="">
                            <h5 class="card-title fw-bold text-light">CSS3</h5>
                            <p class="card-text mb-3 text-info">Découvrez les technologies front-end les plus demandées du marché et créez vos premières pages web!</p>
                        </a>
                        {# <a aria-label="Développement Front End - Académie WS" style="color:white !important" href="{{ path('app_courses_details', {id: 1}) }}" class="btn btn-primary">Accéder aux cours</a> #}
                    </div>
                </div>
            
            </div>

            <div class="col-md-3 p-3">
                {# <a aria-label="Développement Front End - Académie WS" href="{{ path('app_courses_details', {id: 1}) }}">
                    </a> #}
                <div class="course-card card form-shadow bg-none">
                    <a aria-label="Développement Front End - Académie WS" href="{{ path('app_courses_details', {id: 1}) }}">
                        <img class="card-img-top smallBorderRadius" src="{{ asset('build/courses/php.png')}}" alt="Développement Front End" title="Développement Front End">
                    </a>
                    
                    <div class="card-body">
                    
                        <a aria-label="Développement Front End - Académie WS" href="">
                            <h5 class="card-title fw-bold text-light">PHP</h5>
                            <p class="card-text mb-3 text-info">Découvrez les technologies front-end les plus demandées du marché et créez vos premières pages web!</p>
                        </a>
                        {# <a aria-label="Développement Front End - Académie WS" style="color:white !important" href="{{ path('app_courses_details', {id: 1}) }}" class="btn btn-primary">Accéder aux cours</a> #}
                    </div>
                </div>
            
            </div>
            
            <div class="col-md-3 p-3">
                {# <a aria-label="Développement Front End - Académie WS" href="{{ path('app_courses_details', {id: 1}) }}">
                    </a> #}
                <div class="course-card card form-shadow bg-none">
                    <a aria-label="Développement Front End - Académie WS" href="{{ path('app_courses_details', {id: 1}) }}">
                        <img class="card-img-top smallBorderRadius" src="{{ asset('build/courses/javascript.png')}}" alt="Développement Front End" title="Développement Front End">
                    </a>
                    
                    <div class="card-body">
                    
                        <a aria-label="Développement Front End - Académie WS" href="">
                            <h5 class="card-title fw-bold text-light">JAVASCRIPT</h5>
                            <p class="card-text mb-3 text-info">Découvrez les technologies front-end les plus demandées du marché et créez vos premières pages web!</p>
                        </a>
                        {# <a aria-label="Développement Front End - Académie WS" style="color:white !important" href="{{ path('app_courses_details', {id: 1}) }}" class="btn btn-primary">Accéder aux cours</a> #}
                    </div>
                </div>
            
            </div>

            <div class="col-md-3 p-3">
                {# <a aria-label="Développement Front End - Académie WS" href="{{ path('app_courses_details', {id: 1}) }}">
                    </a> #}
                <div class="course-card card form-shadow bg-none">
                    <a aria-label="Développement Front End - Académie WS" href="{{ path('app_courses_details', {id: 1}) }}">
                        <img class="card-img-top smallBorderRadius" src="{{ asset('build/categories/front-end.png')}}" alt="Développement Front End" title="Développement Front End">
                    </a>
                    
                    <div class="card-body">
                    
                        <a aria-label="Développement Front End - Académie WS" href="">
                            <h5 class="card-title fw-bold text-light">Développement Front End</h5>
                            <p class="card-text mb-3 text-info">Découvrez les technologies front-end les plus demandées du marché et créez vos premières pages web!</p>
                        </a>
                        {# <a aria-label="Développement Front End - Académie WS" style="color:white !important" href="{{ path('app_courses_details', {id: 1}) }}" class="btn btn-primary">Accéder aux cours</a> #}
                    </div>
                </div>
            
            </div>

            <div class="col-md-3 p-3">
                {# <a aria-label="Développement Front End - Académie WS" href="{{ path('app_courses_details', {id: 1}) }}">
                    </a> #}
                <div class="course-card card form-shadow bg-none">
                    <a aria-label="Développement Front End - Académie WS" href="{{ path('app_courses_details', {id: 1}) }}">
                        <img class="card-img-top smallBorderRadius" src="{{ asset('build/categories/back-end.png')}}" alt="Développement Front End" title="Développement Front End">
                    </a>
                    
                    <div class="card-body">
                    
                        <a aria-label="Développement Front End - Académie WS" href="">
                            <h5 class="card-title fw-bold text-light">Développement Front End</h5>
                            <p class="card-text mb-3 text-info">Découvrez les technologies front-end les plus demandées du marché et créez vos premières pages web!</p>
                        </a>
                        {# <a aria-label="Développement Front End - Académie WS" style="color:white !important" href="{{ path('app_courses_details', {id: 1}) }}" class="btn btn-primary">Accéder aux cours</a> #}
                    </div>
                </div>
            
            </div>

            <div class="col-md-3 p-3">
                {# <a aria-label="Développement Front End - Académie WS" href="{{ path('app_courses_details', {id: 1}) }}">
                    </a> #}
                <div class="course-card card form-shadow bg-none">
                    <a aria-label="Développement Front End - Académie WS" href="{{ path('app_courses_details', {id: 1}) }}">
                        <img class="card-img-top smallBorderRadius" src="{{ asset('build/categories/reseaux-systemes.png')}}" alt="Développement Front End" title="Développement Front End">
                    </a>
                    
                    <div class="card-body">
                    
                        <a aria-label="Développement Front End - Académie WS" href="">
                            <h5 class="card-title fw-bold text-light">Développement Front End</h5>
                            <p class="card-text mb-3 text-info">Découvrez les technologies front-end les plus demandées du marché et créez vos premières pages web!</p>
                        </a>
                        {# <a aria-label="Développement Front End - Académie WS" style="color:white !important" href="{{ path('app_courses_details', {id: 1}) }}" class="btn btn-primary">Accéder aux cours</a> #}
                    </div>
                </div>
            
            </div>
            
            <div class="col-md-3 p-3">
                {# <a aria-label="Développement Front End - Académie WS" href="{{ path('app_courses_details', {id: 1}) }}">
                    </a> #}
                <div class="course-card card form-shadow bg-none">
                    <a aria-label="Développement Front End - Académie WS" href="{{ path('app_courses_details', {id: 1}) }}">
                        <img class="card-img-top smallBorderRadius" src="{{ asset('build/categories/back-end.png')}}" alt="Développement Front End" title="Développement Front End">
                    </a>
                    
                    <div class="card-body">
                    
                        <a aria-label="Développement Front End - Académie WS" href="">
                            <h5 class="card-title fw-bold text-light">Développement Front End</h5>
                            <p class="card-text mb-3 text-info">Découvrez les technologies front-end les plus demandées du marché et créez vos premières pages web!</p>
                        </a>
                        {# <a aria-label="Développement Front End - Académie WS" style="color:white !important" href="{{ path('app_courses_details', {id: 1}) }}" class="btn btn-primary">Accéder aux cours</a> #}
                    </div>
                </div>
            
            </div>

            <div class="d-flex justify-content-center">
                <a aria-label="Notre offre pour les particuliers - Académie WS" class="mt-5 font-weight-bold btn btn-secondary text-white mx-3" href="{{path('professionals')}}" id="our-offer" role="button">CHERCHER UN FORMATEUR</a>
                <a aria-label="Notre offre pour les particuliers - Académie WS" class="mt-5 font-weight-bold btn btn-primary text-white mx-3" href="{{path('teachers')}}" role="button">DEVENIR FORMATEUR</a>
            </div>

        </div>


    </div>

</div>


{% endblock %}
