{% extends 'base.html.twig' %}

{% block meta_description %} La Formation WS vous accompagne sur la formation lié à la thématique X. {% endblock %}
{% block title %} DÉVELOPPEMENT FRONT END {{parent()}} {% endblock %}

{% block body %}

<div class="row justify-content-center">


    <div class="col-md-12 mx-auto row py-5" style="background:linear-gradient(0deg,#31092a,#0e0331)">

        <div class="col-md-12">
            <h1 class="text-center text-white"> DÉVELOPPEMENT FRONT END </h1>
            <h2 class="text-center text-primary fw400"> Dévelloper des applications web mobile  </h2>
        </div>

        <div class="col-md-12">
            <p class="text-center text-white"> JAVASCRIPT <span class="text-primary">//</span> REACT JS <span class="text-primary">//</span> HTML <span class="text-primary">//</span> CSS</p>
        </div>

        <div class="col-md-12 d-flex justify-content-center">
            <a class="text-light smallBorderRadius colorWhite btn btn-outline-secondary pull-right border-radius-btn mt-5 fw600 d-flex align-items-center" href="{{ path('find_teachers') }}">
            <i class="fa-solid fa-address-card me-2"></i>
            COMMANDER UN FORMATEUR</a>

            <a class="ms-3 text-light smallBorderRadius colorWhite btn btn-outline-primary pull-right border-radius-btn mt-5 fw600 d-flex align-items-center" href="{{ path('teacher_opportunity') }}">
            <i class="fa-solid fa-address-card me-2"></i>
            DEVENIR FORMATEUR</a>
        </div>

    </div>

	<div class="col-md-12 d-flex justify-content-center py-5 bg-secondary-dark">

        <div class="row mx-auto col-md-10 p-3">

            {% for theme in themes %}

                <div class="col-md-3 p-3">
                    <div class="course-card card form-shadow bg-none">
                        <a aria-label="{{ theme.title }} - Formation WS" href="{{ path('app_courses_details', {id: theme.id}) }}">
                            <img class="card-img-top smallBorderRadius" src="{{ asset('build/courses/' ~ theme.logo)}}" alt="{{ theme.title }}" title="{{ theme.title }}">
                        </a>
                        
                        <div class="card-body">
                        
                            <a aria-label="{{ theme.title }} - Formation WS" href="">
                                <h5 class="card-title fw-bold text-light">{{ theme.title }}</h5>
                                <p class="card-text mb-3 text-info">{{ theme.description }}</p>
                            </a>
                        </div>
                    </div>
                
                </div>

            {% endfor %}

            <div class="pb-5 col-md-8 navigation">
                {{ knp_pagination_render(themes) }}
            </div>  

            <div class="d-flex justify-content-center">
                <a aria-label="Commander un formateur - Formation WS" class="mt-5 font-weight-bold btn btn-secondary text-white mx-3" href="{{path('professionals')}}" id="our-offer" role="button">CHERCHER UN FORMATEUR</a>
                <a aria-label="Devenir formateur - Formation WS" class="mt-5 font-weight-bold btn btn-primary text-white mx-3" href="{{path('teachers')}}" role="button">DEVENIR FORMATEUR</a>
            </div>

        </div>


    </div>

</div>


{% endblock %}
