{% extends 'base.html.twig' %}

{% block meta_description %} La Formation WS intervient dans de nombreux domaines liés à l'univers du digital, comme la programamtion, le marketing ou encore le droit. {% endblock %}
{% block title %}Nos domaines d'intervention {{parent()}}{% endblock %}

{% block body %}

    <div class="col-md-12 mx-auto row py-5" style="background:linear-gradient(0deg,#31092a,#0e0331)">

        <div class="col-md-12">
            <h1 class="text-center text-white"> DÉVELOPPEZ VOS FORMATS E-LEARNING ET BLENDED </h1>
            <h2 class="text-center text-primary fw400"> Renforcez l'intervention des formateurs avec nos vidéos  </h2>
        </div>

        <div class="col-md-12">
            <p class="text-center text-white"> EN MARQUE BLANCHE <span class="text-primary">//</span> SUR MESURE <span class="text-primary">//</span> SOUS LICENSE <span class="text-primary">//</span> SOUS ABONNEMENT</p>
        </div>

        <div class="col-md-12 d-flex justify-content-center">
            <a class="text-light smallBorderRadius colorWhite btn btn-outline-primary pull-right border-radius-btn mt-5 fw600 d-flex align-items-center me-3" href="{{ path('find_teachers') }}"><i class="far fa-play-circle me-2"></i>COMMANDER UN FORMATEUR</a>
            <a class="text-light smallBorderRadius colorWhite btn btn-outline-secondary pull-right border-radius-btn mt-5 fw600 d-flex align-items-center" href="{{ path('teacher_opportunity') }}"><i class="far fa-play-circle me-2"></i>DEVENIR FORMATEUR</a>
        </div>

    </div>


    <section class="bg-secondary-dark justify-content-center align-items-center flex-column relative pb-5">

        <div class="text-with-gradient text-center py-5 relative">
            &lt; NOS DOMAINES D'INTERVENTIONS /&gt; 
        </div>

        <h2 class="text-center text-light my-3"> Nos formateurs effectuent une veille technologique annuelle <br> via notre plateforme de formation ! </h2>

        <div class="row mx-auto col-md-10 p-3">

            {% for theme in themes %}
                <div class="col-md-3 p-3">
                    <div class="course-card card form-shadow bg-none">
                        <a aria-label="{{ theme.title }} - Formation WS" href="{{ path('app_themes_details', {id: theme.id}) }}">
                            <img class="card-img-top smallBorderRadius" src="{{ asset('build/categories/' ~ theme.picture )}}" alt="Développement Front End" title="Développement Front End">
                        </a>
                        
                        <div class="card-body">
                            <a aria-label="{{ theme.title }} - Formation WS" href="{{ path('app_themes_details', {id: theme.id}) }}">
                                <h5 class="card-title fw-bold text-light">{{ theme.title }}</h5>
                                <p class="card-text mb-3 text-info">{{ theme.description }}</p>
                            </a>
                        </div>
                    </div>
                
                </div>
            {% endfor %}

            <div class="pb-5 col-md-12 navigation">
                {{ knp_pagination_render(themes) }}
            </div>  

            <div class="d-flex justify-content-center">
                <a aria-label="Commander un formateur - Formation WS" class="mt-5 font-weight-bold btn btn-secondary text-white mx-3" href="{{path('professionals')}}" id="our-offer" role="button">CHERCHER UN FORMATEUR</a>
                <a aria-label="Devenir formateur - Formation WS" class="mt-5 font-weight-bold btn btn-primary text-white mx-3" href="{{path('teachers')}}" role="button">DEVENIR FORMATEUR</a>
            </div>

        </div>

    </section>

{% endblock %}
