{% extends 'base-dark.html.twig' %}

{% block meta_description %} Candidature spontanée chez {{company_name}}. {% endblock %}
{% block title %}Créer une mission {{parent()}}{% endblock %}

{% form_theme missionForm 'bootstrap_5_layout.html.twig' %}


{% block body %}

<div class="d-flex align-items-center justify-content-center my-5">
    <div class="row col-md-6 white justify-content-center white p-0 my-5">
        <div class="form-shadow relative d-flex justify-content-center col-md-12 px-5 smallBorderRadius">
            <div class="form-circle"> </div>

            {% for message in app.flashes('message') %}
                <div class="row">
                    <div class="col-md-12 alert alert-success" role="alert">
                        {{message}}
                    </div>
                </div>
            {% endfor %}


            {{ form_start(missionForm, {'attr': {'id': 'form-job-application', 'class':'bg-grey-light form-shadow p-5 smallBorderRadius row justify-content-center text-dark'} }) }}

                <div class="col-12 mb-4">
                    <h2 class="text-center">Créer une mission</h2>
                </div>

                {{ form_row(missionForm.title) }}
                {{ form_row(missionForm.city) }}
                {{ form_row(missionForm.salary) }}
                {{ form_row(missionForm.contract) }}
                {{ form_row(missionForm.location) }}
                {{ form_row(missionForm.titleDescription) }}
                {{ form_row(missionForm.description) }}
                {{ form_row(missionForm.date) }}
                {{ form_row(missionForm.schedule) }}
                {{ form_row(missionForm.missionDescription) }}
                {{ form_row(missionForm.mainMissions) }}
                <p class="cursor-pointer add-element " id="add-mission"> <i class="fa-solid fa-plus"></i> Ajouter une mission </p>
                {{ form_row(missionForm.profileRequirements) }}
                <p class="cursor-pointer add-element " id="add-requirement"> <i class="fa-solid fa-plus"></i> Ajouter une compétence recherchée </p>
                {{ form_row(missionForm.informations) }}
                <p class="cursor-pointer add-element " id="add-requirement"> <i class="fa-solid fa-plus"></i> Ajouter une compétence information </p>
                {{ form_row(missionForm.category) }}
                {{ form_row(missionForm.course) }}
                {{ form_row(missionForm.advantages) }}



            {{ form_end(missionForm) }}

        </div>
    </div>
</div>


{% endblock %}
