{% extends 'base.html.twig' %}

{% block meta_description %} Vous cherchez des formateurs? Passez par la Formation WS pour trouver les bons profils.  {% endblock %}
{% block title %}Placement de formateurs {{parent()}} {% endblock %}

{% block body %}

    <div class="col-md-12 mx-auto row py-5" style="background:linear-gradient(0deg,#31092a,#0e0331)">

        <div class="col-md-12">
            <h1 class="text-center text-white"> ACCÉDEZ AUX MEILLEURS FORMATEURS SUR LE MARCHÉ </h1>
            <h2 class="text-center text-primary fw400"> Assurez à vos apprenants des formations de qualité  </h2>
        </div>

        <div class="col-md-12">
            <p class="text-center text-white"> FORMATEURS <span class="text-primary">//</span> COACHING <span class="text-primary">//</span> INGÉNIERIE PÉDAGOGIQUE <span class="text-primary">//</span> ELEARNING</p>
        </div>

        <div class="col-md-12 d-flex justify-content-center">
            <a class="text-light smallBorderRadius colorWhite btn btn-secondary pull-right border-radius-btn mt-5 fw600 d-flex align-items-center" href="{{ path('app_professional_process') }}"><i class="fa-solid fa-gear me-2"></i>COMMENT ÇA MARCHE ?</a>
        </div>

    </div>

    <div class="row">
        <div class="row col-md-8 mx-auto mt-5">
            <div class="d-flex col-md-12 text-left">
                <h1 class="text-left color-grey"> <span style="color:black"> Vous êtes un professionnel de la formation. </span> </br> Pourquoi choisir vos formateurs chez nous ? </h1>
            </div>
            <div class="col-md-6 mb-5">
                <p class="text-justify"> Chez la Formationf WS, nous savons que la réussite des apprenants passe en grande partie par le formateur, c'est pourquoi nous sélectionnons avec nos soin les formateurs avec lesquels nous souhaitons collaborer.
                <a aria-label="Commander un formateur - Formation WS" href="{{ path('find_teachers') }}" class="mt-5 btn btn-secondary justify-content-center" style="color:white !important">COMMANDEZ UN FORMATEUR</a>
                <a aria-label="Devenir formateur - Formation WS" href="{{ path('app_professional_process') }}" class="mt-5 btn btn-primary justify-content-center" style="color:white !important">PROCESSUS DE RECRUTEMENT</a>
            </div>
        </div>

    </div>

    <div class="row mb-5">

            <div class="row col-md-8 mx-auto my-3 align-items-center">

                <div class="col-md-6 d-flex justify-content-center order-2 order-sm-1">
                    <img style="max-height:250px" src="{{ asset('build/teachers/1.webp')}}" title="Des vidéos sur mesure et uniques !" alt="Des vidéos sur mesure et uniques !">
                </div>

                <div class="col-md-6 order-1 order-sm-2">
                    <div class="my-3 text-primary">TOUS NOS FORMATEURS ONT EXERCÉ DANS LE DOMAINE QU'ILS ENSEIGNENT</div>
                    <h3>Des formateurs expérimentés</h3>
                    <p class="text-justify">Tous nos formateurs chez la Formation WS ont exercé un métier lié à la thématique qu'ils enseignent auprès de vos étudiants car nous sommes convaincus que la pratique est un élément clef dans la transmission des connaissances. Nos formateurs sont donc des <span class="text-secondary fw-bold">professionnels passionés </span> avec l'envie de partager leur connaissances professionnelles.</p>
                </div>
            </div>

            <div class="row col-md-8 mx-auto my-3 align-items-center">
                <div class="col-md-6" style="border-top:1px solid rgba(94, 36, 195, 0.2);padding-top:2rem;">
                    <div class="my-3 text-primary">La Formation WS CENTRALISE LES SUPPORTS DE COURS DE SES FORMATEURS</div>
                    <h3>Centralisation du contenu pédagogique</h3>
                    <p class="text-justify">Pour assurer des supports de qualité, <span class="text-secondary fw-bold">la Formation WS centralise sur sa plateforme tous les exercices, cours théoriques ou travaux pratiques </span> délivrés par nos formateurs pour s'assurer de la qualité des exercices et des contenus délivrés et faciliter le transfert de ces supports auprès de vos apprenants.</p>
                </div>

                <div class="col-md-6 d-flex justify-content-center">
                    <img style="max-height:250px" src="{{asset('build/teachers/2.webp')}}" title="Connaissance des différents profils d'apprenants" alt="Connaissance des différents profils d'apprenants">
                </div>
            </div>

            <div class="row col-md-8 mx-auto my-3 align-items-center">

                <div class="col-md-6 d-flex justify-content-center order-2 order-sm-1">
                    <img style="max-height:250px" src="{{asset('build/teachers/3.webp')}}" title="Des vidéos en marque blanche" alt="Des vidéos en marque blanche">
                </div>

                <div class="col-md-6 order-1 order-sm-2" style="border-top:1px solid rgba(94, 36, 195, 0.2);padding-top:2rem;">
                    <div class="my-3 text-primary">UNE MONTÉE EN COMPÉTENCE EST ORGANISÉE UNE À DEUX FOIS PAR AN</div>
                    <h3>Des formateurs formés régulièrement</h3>
                    <p class="text-justify">Parceque nous sommes conscients que le marché évolue constamment, nous organisons avec nos formateurs des <span class="text-secondary fw-bold">sessions de montée en compétence </span> en présentiel, ou en vidéo en utilisant les cours délivrés sur notre plateforme.</p>
                </div>
            </div>

            <div class="row col-md-8 mx-auto my-3 align-items-center">
                <div class="col-md-6" style="border-top:1px solid rgba(94, 36, 195, 0.2);padding-top:2rem;">
                    <div class="my-3 text-primary">TOUS NOS COURS SONT À JOUR AVEC LES TENDANCES ACTUELLES DU MARCHÉ</div>
                    <h3>Des supports de cours mis à jour tous les 6 mois</h3>
                    <p class="text-justify">Chez la Formation WS, nous ne faisons pas que placer des formateurs, puisque <span class="text-secondary fw-bold">nous produisons et fournissons également des cours complets</span>, suivant les niveaux que nous mettons à disposition de nos formateurs pour être sûr de répondre au mieux aux besoins du marché.</p>
                </div>

                <div class="col-md-6 d-flex justify-content-center">
                    <img style="max-height:250px" src="{{asset('build/teachers/4.webp')}}" title="Des vidéos faites par des formateurs sur le terrain !" alt="Des vidéos faites par des formateurs sur le terrain !">
                </div>
            </div>

            <div class="row col-md-8 mx-auto my-3 align-items-center">

                <div class="col-md-6 d-flex justify-content-center order-2 order-sm-1">
                    <img style="max-height:250px" src="{{asset('build/teachers/5.webp')}}" title="La possibilité de choisir les vidéos qui vous intéressent" alt="La possibilité de choisir les vidéos qui vous intéressent">
                </div>

                <div class="col-md-6 order-1 order-sm-2" style="border-top:1px solid rgba(94, 36, 195, 0.2);padding-top:2rem;">
                    <div class="my-3 text-primary">UNE SEULE FACTURATION ET UN SEUL EMAIL</div>
                    <h3>Un seul interlocuteur</h3>
                    <p class="text-justify">En tant que centre de formation ou école du digitale, nous savons parfaitement que gérer des dizaines de formateurs en plus des planning et autres tâches administratives que vous devez réaliser au quotidien n'est pas chose facile. C'est pourquoi nous vous proposons d'<span class="text-secondary fw-bold">assurer la gestion de vos formateurs </span> et d'être votre seul interlocuteur.</p>
                </div>
            </div>

            <div class="row col-md-8 mx-auto my-3 align-items-center">
                <div class="col-md-6" style="border-top:1px solid rgba(94, 36, 195, 0.2);padding-top:2rem;">
                    <div class="my-3 text-primary">NOS FORMATEURS SONT SUIVIS QUOTIDIENNEMENT</div>
                    <h3>Suivi pédagogique quotidien</h3>
                    <p class="text-justify">Evidemment une fois le formateur placé, nous ne disparaissons pas mais misons plutôt sur du long terme. C'est pourquoi <span class="text-secondary fw-bold">nous assurons un contact régulier avec nos formateurs </span> pour s'assurer du bon déroulement de chaque cours pour pouvoir répondre éfficacement à toute difficulté qu'une classe ou un formateur pourraient rencontrer.</p>
                </div>

                <div class="col-md-6 d-flex justify-content-center">
                    <img style="max-height:250px" src="{{asset('build/teachers/6.webp')}}" title="Des vidéos mises à jour chaque année !" alt="Des vidéos mises à jour chaque année !">
                </div>
            </div>

            <div class="row col-md-8 mx-auto my-3 align-items-center">

                <div class="col-md-6 d-flex justify-content-center order-2 order-sm-1">
                    <img style="max-height:250px" src="{{asset('build/teachers/7.webp')}}" title="La mise en place de vidéos pilote pour mesurer l'efficacité de nos vidéos" alt="La mise en place de vidéos pilote pour mesurer l'efficacité de nos vidéos">
                </div>

                <div class="col-md-6 order-1 order-sm-2" style="border-top:1px solid rgba(94, 36, 195, 0.2);padding-top:2rem;">
                    <div class="my-3 text-primary">CHEZ LA FORMATION WS VOUS TROUVEREZ UN PANNEL DE FORMATEURS DIFFÉRENTS</div>
                    <h3>Diversité des profils et des niveaux</h3>
                    <p class="text-justify">Chez la Formation WS, nous collaborons avec des formateurs de toutes horizons et de différents niveaux pour assurer des cours autant auprès de débutant que de professionnels déjà en poste.</p>
                </div>
            </div>

            <div class="row col-md-8 mx-auto my-3 align-items-center" >
                <div class="col-md-6" style="border-top:1px solid rgba(94, 36, 195, 0.2);padding-top:2rem;">
                    <div class="my-3 text-primary">NOUS CONNAISSONS LES ENJEUX LIÉS AU MARCHÉ DE LA FORMATION</div>
                    <h3>Plus de 8 ans d'expérience dans le domaine</h3>
                    <p class="text-justify">Collaborer avec la Formation WS, c'est collaborer avec une équipe disposant de plus de <span class="text-secondary fw-bold">8 ans d'expérience dans la formation digitale </span> avec un grand D. Que ce soit dans l'univers de la programmation, du marketing online ou encore des Systèmes et réseaux, la Formation WS dispose d'une réelle expertise qui fait ses preuves auprès de nos clients depuis 2015.</p>
                    <a aria-label="Trouver le bon formateur - Formation WS" href="{{ path('find_teachers') }}" class="btn btn-primary justify-content-center" style="color:white !important">TROUVER LE BON FORMATEUR</a>
                </div>

                <div class="col-md-6 d-flex justify-content-center">
                    <img style="max-height:250px" src="{{asset('build/teachers/8.webp')}}" title="Nous vous accompagnons sur vos formats e-learning & blended" alt="Nous vous accompagnons sur vos formats e-learning & blended">
                </div>
            </div>

    </div>
    
{% endblock %}
