{% extends 'base.html.twig' %}

{% block meta_description %} Contactez la Formation WS pour trouver le bon formateur.  {% endblock %}
{% block title %}Contactez-nous {{parent()}} {% endblock %}

{% form_theme teachersForm 'bootstrap_5_layout.html.twig' %}


{% block body %}
    <div class="d-flex flex-column my-5">
    	{% for label, messages in app.flashes(['success', 'warning']) %}
            {% for message in messages %}
                <div class="col-10 col-sm-10 col-md-6 mx-auto alert alert-{{ label }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        <div class="form-shadow relative row col-10 col-sm-10 col-md-6 mx-auto white justify-content-center align-items-centerwhite smallBorderRadius p-0 my-5">
            <div class="form-circle"> </div>
            {{ form_start(teachersForm, {"attr": {"class": "col-md-12 row px-5 py-5 justify-content-center" } }) }}
                <div class="col-md-12">
                    <h1 class="h3 mb-3 font-weight-normal text-center">Vous recherchez un formateur</h1>
                </div>
                {{ form_row(teachersForm.firstname) }}
                {{ form_row(teachersForm.lastname) }}
                {{ form_row(teachersForm.current_job) }}
                {{ form_row(teachersForm.company) }}
                {{ form_row(teachersForm.email) }}
                {{ form_row(teachersForm.phone) }}
                {{ form_row(teachersForm.motive) }}
                {{ form_row(teachersForm.message) }}

            {{ form_end(teachersForm) }}
        </div>
    </div>
{% endblock %}
