{% extends 'base.html.twig' %}

{% block meta_description %} Contactez la Formation WS pour trouver le bon formateur.  {% endblock %}
{% block title %}Contactez-nous {{parent()}} {% endblock %}

{% form_theme teachersForm 'bootstrap_5_layout.html.twig' %}


{% block body %}
    <div class="d-flex flex-column my-5">
    	{% for label, messages in app.flashes(['success', 'warning']) %}
            {% for message in messages %}
                <div class="col-10 col-sm-10 col-md-6 mx-auto alert alert-{{ label }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        <div class="form-shadow relative row col-10 col-sm-10 col-md-6 mx-auto white justify-content-center align-items-centerwhite smallBorderRadius p-0 my-5">
            <div class="form-circle"> </div>
            {{ form_start(teachersForm, {"attr": {"class": "col-md-12 row px-5 py-5 justify-content-center" } }) }}
                <div class="col-md-12">
                    <h1 class="h3 mb-3 font-weight-normal text-center">Vous recherchez un formateur</h1>
                </div>

                {% if prefilled == true %}
                    <p class="text-center fst-italic my-3 text-success"> Vous y êtes presque, encore quelques informations nous sont essentielles pour vous aider dans votre recherche !</p>
                {% endif %}

                {{ form_row(teachersForm.firstname, {'attr': {'class':  prefilled == true ? 'border-danger' : ''}}) }}
                {{ form_row(teachersForm.lastname, {'attr': {'class':  prefilled == true ? 'border-danger' : ''}}) }}
                {{ form_row(teachersForm.current_job, {'attr': {'class':  prefilled == true ? 'border-danger' : ''}}) }}
                {{ form_row(teachersForm.company, {'attr': {'class':  prefilled == true ? 'border-danger' : ''}}) }}
                {{ form_row(teachersForm.email, {'attr': {'class':  prefilled == true ? 'border-danger' : ''}}) }}
                {{ form_row(teachersForm.phone, {'attr': {'class':  prefilled == true ? 'border-danger' : ''}}) }}


                {{ form_row(teachersForm.motive, {'attr': {'class':  prefilled == true ? 'border-success' : ''}}) }}
                {{ form_row(teachersForm.message, {'attr': {'class':  prefilled == true ? 'border-danger' : ''}}) }}
                {{ form_row(teachersForm.profil, {'attr': {'class':  prefilled == true ? 'border-success' : ''}}) }}
                {{ form_row(teachersForm.date, {'attr': {'class':  prefilled == true ? 'border-success' : ''}}) }}
                {{ form_row(teachersForm.localisation, {'attr': {'class':  prefilled == true ? 'border-success' : ''}}) }}
                {{ form_row(teachersForm.theme, {'attr': {'class':  prefilled == true ? 'border-success' : ''}}) }}

            {{ form_end(teachersForm) }}
        </div>
    </div>
{% endblock %}
