{% extends 'base.html.twig' %}

{% block title %}Formateur{% endblock %}

{% form_theme former_form 'bootstrap_5_layout.html.twig' %}

{% block stylesheets %} 
    {{ parent() }}
    <meta name="description" content="Formulaire">
{% endblock %}

{% block body %}

    {% for message in app.flashes('success') %}
    {{ message }}
    {% endfor %}

 <div class="container-fluid col-8"> 
        <form>     
            {{ form_start(former_form) }}
        
                <div>
                    <h1 class="text-center">Vous voulez devenir formateur ?</h1>
                </div>    

                {% for message in app.flashes('confirmation') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}

                <div class="row">
                    <div class="col-md-6">                   
                        {{ form_row(former_form.name)}}
                    </div>

                    <div class="col-md-6">                   
                        {{ form_row(former_form.lastName)}}
                    </div>
                </div>

                {{ form_row(former_form.Email)}}

                <div class="row">
                    <div class="col-md-6">                   
                        {{ form_row(former_form.adress)}}
                    </div>

                    <div class="col-md-6">                   
                        {{ form_row(former_form.city)}}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">                   
                        {{ form_row(former_form.phone)}}
                    </div>

                    <div class="col-md-6">                   
                        {{ form_row(former_form.CV)}}
                    </div>
                </div>
                
                {{ form_row(former_form.purpose)}}
                
            {{ form_end(former_form)}}                   
        </form>        
    </div>

{% endblock %}
